<template>
    <div>

        <!-- {{ p9 }} -->
        <filtro-completo @aplicaFiltro="aplicaFiltro" :muestraFiltro=muestraFiltro></filtro-completo>

        <div class="row">
            <div class="col-xl-5 mt-2">
                <div class="card mb-4">
                    <div class="card-header" style="color:#024c90">
                        <i class="fas fa-chart-pie"></i>
                        ¿Recibe periodicamente información de Sendero?
                    </div>
                    <div class="card-body mt-4 mb-4">
                        <!-- <chart-doughnut v-if="p9" :valor_grafico="p9" title="Sendero"></chart-doughnut> -->
                        <!-- <doughnut  :chartData="datacollectionDoughnut" :option="optionsDoughnut" title="Sendero"></Doughnut> -->
                        <Doughnut v-if="p9.length > 0"
                            ref="skills_chart"
                            :chart-data="datacollectionDoughnut"
                            :options="optionsDoughnut"
                            :height="150">
                        </Doughnut>


                    </div>
                    <div class="card-header">
                        <span class="text-center" style="color:#024c90">Base: {{ p9_base }}</span>
                    </div>
                </div>
            </div>
        
            <div class="col-xl-7 mt-2">
                <div class="card mb-4">
                    <div class="card-header" style="color:#024c90">
                        <i class="fas fa-signal"></i>
                        ¿Qué tipo de información ha recibido?
                    </div>
                    <div class="card-body">
                        <horizontal-bar-chart :chart-data="datacollectionP10" :options="optionsP10" :height="160"></horizontal-bar-chart>
                    </div>
                </div>
            </div>


            <div class="col-xl-12 mt-2">
                <div class="card mb-2 mt-5">
                    <bar-stack-chart 
                        :chart-data="datosGrafico()" 
                        :height="150" 
                        :options="optionStack()">
                    </bar-stack-chart>
                </div>
            </div>
        </div>

        

        <!-- <div class="card mb-2 mt-5">
            <bar-stack-chart 
                :chart-data="datosGrafico()" 
                :height="150" 
                :options="optionStack()">
            </bar-stack-chart>
        </div> -->

    </div>
</template>

<script>
    import BarStackChart from '../BarStackChart.js'
    import Doughnut from '../Doughnut.js'
    import HorizontalBarChart from '../HorizontalBarChart'
    export default {
        components: {
            BarStackChart, Doughnut, HorizontalBarChart
        },
        data() {
            return {
                datacollection: null,
                datacollectionP10: null,
                datacollectionDoughnut: null,
                options: null,
                optionsP10: null,
                optionsDoughnut: null,
                datos_graficos: null,
                p9: [],
                p10: null,
                p9_base: null,
                dashboard: {},
                promotor: [],
                neutro: [],
                detractor: [],
                neto: [],
                labels: [],

                muestraFiltro : {
                    viaje : true,
                    familia : true,
                    tipo : true,
                    funeraria : true,
                    necesidad : true,
                    parque : true,
                    fecha_ini : true,
                    fecha_fin : true,
                    origen_venta : true,
                    uso_producto : true,
                }

            }
        },

        methods: {
            aplicaFiltro(filtro) {
                console.log("procesa filtros");
                this.filtro = filtro;
                this. recuperaDashboard();
            },
            async recuperaDashboard(){
                this.p9 = [];
                await axios.post("api/informacion_recibida", {
                    'cod_seccion' : this.codSeccion,
                    'filtro' : this.filtro
                })
                .then((data)=>{
                    this.p9 = data.data.data.p9.data;
                    this.p9_base = data.data.data.p9.base;
                    this.p10 = data.data.data.p10;
                    // this.datos = data.data.data;
                    // console.log(data);
                    
                    this.promotor = data.data.data.p11.satisfecho;
                    this.detractor = data.data.data.p11.insatisfecho;
                    this.neto = data.data.data.p11.neto;
                    this.neutro = data.data.data.p11.neutro;
                    this.labels = data.data.data.p11.labels;

                    // this.fillData();

                    this.fillDataP10();
                    this.fillDataDoughnut();
                    
                })
                // ({ data }) => (this.datos = data.data)
            },

            fillDataP10 ()
            {
                this.datacollectionP10 = {
                    title: {
                        display: false,
                        text: 'Chart.js Line Chart - Legend'
                    },
                    labels: this.p10.labels,
                    datasets: [{
                        label: 'Total...',
                        data: this.p10.porc,
                        backgroundColor: this.p10.colores,
                        // borderColor: this.bordes,
                        borderWidth: 1
                    }],
                }

                this.optionsP10 = {
                    
                    legend: {
                        display: false
                    },
                    scales: {
                        xAxes: [{
                            ticks: {
                                max: 100, // maximum value
                                min:0
                            }
                        }]
                    },
                }
            },

            fillData ()
            {
                this.options = {
                    responsive: true, 
                    maintainAspectRation: true,
                    scales: {
                        xAxes: [{
                            stacked: true,
                        }],
                        yAxes: [{
                            stacked: true,
                            ticks: {
                                max: 100 // maximum value
                            }
                        }]
                    },
                    hover: {
                        animationDuration: 0
                    }
                                        
                }


            },
            optionStack() {
                let opt = {
                    legend: {
                        labels: {
                            // This more specific font property overrides the global property
                            fontColor: 'black',
                            // defaultFontSize: 24,
                        }
                    },
                    responsive: true, 
                    maintainAspectRation: true,
                    scales: {
                        xAxes: [{
                            stacked: true,
                        }],
                        yAxes: [{
                            stacked: true,
                            ticks: {
                                max: 120, // maximum value
                            }
                        }]
                    },
                    hover: {
                        animationDuration: 0
                    },
                    animation: {
                        //duration : 1,
                        onComplete : function() {
                            var chartInstance = this.chart,
                            ctx = chartInstance.ctx;

                            ctx.font = Chart.helpers.fontString(
                                Chart.defaults.global.defaultFontSize, 
                                Chart.defaults.global.defaultFontStyle, 
                                Chart.defaults.global.defaultFontFamily
                            );
                            ctx.textAlign = 'center';
                            ctx.textBaseline = 'bottom';
                            ctx.fillStyle = "#000";

                            this.data.datasets.forEach(function(dataset, i) {
                                var meta = chartInstance.controller.getDatasetMeta(i);
                                meta.data.forEach(function(bar, index) {
                                    var data = dataset.data[index];
                                    if (i == 0){
                                        ctx.pointStyle = 'triangle';
                                        ctx.fillStyle = "#000";
                                        ctx.font = '15px Arial';
                                        ctx.fillText(data, bar._model.x - 27, bar._model.y + 8);
                                    }
                                    else if (i == 1){
                                        ctx.fillStyle = "#000";
                                        ctx.fillText(data, bar._model.x, bar._model.y + 20);
                                        ctx.font = '12px Arial';
                                    }
                                    else if (i == 2){
                                        ctx.fillStyle = "#000";
                                        ctx.fillText(data, bar._model.x, bar._model.y + 15);
                                        ctx.font = '12px Arial';
                                    }
                                    else if (i == 3){
                                        ctx.fillStyle = "#000";
                                        ctx.fillText(data, bar._model.x, bar._model.y - 10);
                                        ctx.font = '12px Arial';
                                    }
                                    else {
                                        // ctx.style.backgroundColor = '#FFF';
                                        ctx.pointStyle = 'triangle';
                                        ctx.fillStyle = "#000";
                                        ctx.font = '15px Arial';
                                        ctx.fillText(data, bar._model.x - 27, bar._model.y + 8);
                                    }
                                });
                            });
                        }
                    },
                                        
                }
                return opt;
            },

            datosGrafico(){
                let promotor = null;
                let detractor = null;
                let neto = null;
                let neutro = null;
                let label = null;

                neto = this.neto;
                neutro = this.neutro;
                promotor = this.promotor;
                detractor = this.detractor;
                label = this.labels;

                let xdata = {
                    labels: label,
                    datasets: [
                        {
                            label: "Neto",
                            type: "line",
                            tension: 0.0,
                            borderColor: 'rgba(0, 0, 0, 0)',
                            data: neto,
                            fill: false,
                            // hidden: true,
                            // color: 'rgba(0, 0, 0, 0)',
                            pointRadius: 7,
                            pointBackgroundColor: 'rgba(255, 87, 51, 0.5)'

                        }, {
                            label: "% Insatisfecho (Nota 1 a 4)",
                            type: "bar",
                            backgroundColor: "rgba(192, 0, 0, 0.8)",
                            backgroundColorHover: "#3e95cd",
                            data: detractor,
                        }, {
                            label: "% Neutro (Nota 5)",
                            type: "bar",
                            backgroundColor: "#D1D1CF",
                            backgroundColorHover: "#D1D1CF",
                            data: neutro,
                        }, {
                            label: "% Satisfecho (Nota 6 y 7)",
                            type: "bar",
                            backgroundColor: "#94c13d",
                            backgroundColorHover: "#3e95cd",
                            data: promotor,
                        }
                    ]
                }
                return xdata;

            },


            fillDataDoughnut ()
            {
                // console.log(this.datos);
                this.datacollectionDoughnut = {
                    title: {
                            display: false,
                            text: 'Chart.js Line Chart - Legend'
                        },
                    labels: ['Si', 'No'],
                    datasets: [
                        {
                            backgroundColor: ['#00b050', '#53585f'],
                            data: this.p9
                        }
                    ]
                }

                this.optionsDoughnut = {
                    responsive: true, 
                    maintainAspectRatio: false, 
                    animation: {
                        animateRotate: true
                    },
                    legend : {
                        display : false
                    }
                }
                // console.log(this.valor_grafico + '*');
            }


        },

        created () {
            this.recuperaDashboard();
            this.fillDataDoughnut();
        },
        
    }
</script>

<style lang="scss" scoped>

</style>