<template>
    <div>

        <bar-chart :chart-data="datacollection" :options="options" :height="120"></bar-chart>
    </div>
</template>

<script>
    import BarChart from '../BarChart.js'


    export default {
        components: { BarChart },
        data(){
            return {
                datacollection: {},
                options: {},
                datos: {},
                total: [],
                
            }
        },
        props: ['filtro', 'codSeccion'],
        mounted () {
            this.recuperaDashboard()
            
        },
        methods: {
            async recuperaDashboard(){
                await axios.post("api/dashboard", {
                    'cod_seccion' : this.codSeccion,
                    'filtro' : this.filtro
                })
                .then((data)=>{
                    this.datos = data.data.data;
                    this.fillData();
                })
                // ({ data }) => (this.datos = data.data)
            },

            fillData ()
            {
                this.datacollection = {
                    title: {
                        display: true,
                        text: 'Chart.js Line Chart - Legend'
                    },
                    labels: [
                        'Q1 Jul 21', 
                        'Q2 Jul 21', 
                        'Q1 Ago 21', 
                        'Q2 Ago 21', 
                        'Q1 Sep 21', 
                        'Q2 Sep 21', 
                        'Q1 Oct 21', 
                        'Q2 Oct 21',
                        'Q1 Nov 21', 
                        'Q2 Nov 21',
                        'Q1 Dic 21', 
                        'Q2 Dic 21',

                    ],
                    datasets: [
                        {
                            label: 'Lider Total',
                            data: this.datos.formato_0,
                            backgroundColor: 'rgba(2, 76, 144, 0.8)',
                            borderColor: 'rgb(2, 76, 144)',
                            borderWidth: 1
                        },
                        {
                            label: 'Lider',
                            data: this.datos.formato_1,
                            backgroundColor: 'rgba(3, 101, 192, 0.8)',
                            borderColor: 'rgb(3, 101, 192)',
                            borderWidth: 1
                        },
                        {
                            label: 'Express',
                            data: this.datos.formato_2,
                            backgroundColor: 'rgba(0, 176, 240, 0.8)',
                            borderColor: 'rgb(0, 176, 240)',
                            borderWidth: 1
                        },
                        {
                            label: 'SBA',
                            data: this.datos.formato_3,
                            backgroundColor: 'rgba(200, 37, 6, 0.8)',
                            borderColor: 'rgb(200, 37, 6)',
                            borderWidth: 1
                        },
                    ],
                    

                }

                this.options = {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    max: 100, // maximum value
                                    min:0
                                }
                            }]
                        },

                }
            }
        },
        watch: {
          filtro: {
              handler: function(val, oldVal) {
                  this.recuperaDashboard()
              },
              deep: true
          }
      }
    }
</script>

<style lang="css">
.small {
  max-width: 800px;
  max-height: 500px;
  margin:  50px auto;
}
</style>
</script>

<style lang="scss" scoped>

</style>