<template>
    <div>
        <filtro-completo @aplicaFiltro="aplicaFiltro" :muestraFiltro="muestraFiltro"></filtro-completo>

        <!-- {{ datos }} -->

        <div class="row" >
          <div class="col col-md-7 mt-2">
            <div v-for="(dato, index) in datos" :key="dato.id" class="mt-2">
                <div class="card mb-2">
                    <!-- <div class="card-header">
                        <svg class="svg-inline--fa fa-chart-area fa-w-16 me-1" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chart-area" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M500 384c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12H12c-6.6 0-12-5.4-12-12V76c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v308h436zM372.7 159.5L288 216l-85.3-113.7c-5.1-6.8-15.5-6.3-19.9 1L96 248v104h384l-89.9-187.8c-3.2-6.5-11.4-8.7-17.4-4.7z"></path></svg>
                        {{ dato.literal }}  {{ dato.prom }}
                    </div> -->
                    <div class="card-body">
                      <table class="table">
                            <thead>
                              <tr class="bg-primary text-light">
                                <th width="90%">{{ dato.dato.titulo_seccion }}</th>
                                <th class="text-center">{{ parseFloat(dato.dato.porc).toFixed(decimales) }}</th>
                                <th ><graph-line :datos="datosArray(dato.medicion)"></graph-line></th>
                              </tr>
                            </thead>
                              <tbody>
                                <template v-for="(sub_seccion, index1) in dato.sub_seccion">
                                    <!-- <tr v-if="index != 'S_136' && index != 'S_133'"  class="table-info" > -->
                                    <tr class="table-info" >
                                        <th width="90%">{{ sub_seccion.dato.titulo_sub_seccion }}  </th>
                                        <th class="text-center">{{ parseFloat(sub_seccion.dato.porc).toFixed(decimales) }}</th>
                                        <th><graph-line :datos="datosArray(sub_seccion.medicion)"></graph-line></th>
                                    </tr>

                                  <template v-for="(dimension, index2) in sub_seccion.dimension">
                                    <tr class="bg-info.bg-gradient" style="cursor: pointer;" data-toggle="collapse" :data-target="'#demo' + index + '_' + index1 + '_' + index2">
                                        <th width="90%"><img src="/img/flecha_mas.png">
                                          &nbsp;{{ dimension.dato.dimension_descripcion }}  </th>
                                        <th class="text-center">{{ parseFloat(dimension.dato.porc).toFixed(decimales) }}</th>
                                        <th><graph-line :datos="datosArray(dimension.medicion)"></graph-line></th>
                                    </tr>
                                    <tr class="accordion-toggle collapse" :id="'demo' + index + '_' + index1 + '_' + index2">
                                      <td colspan="3">
                                        <table width="100%" class="table">
                                          <tbody>

                                                <tr v-for="(pregunta, index4) in dimension.preguntas" class="accordion-toggle collapse" :id="'demo' + index + '_' + index1 + '_' + index2">
                                                  <td width="90%">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{ pregunta.dato.cod_interno }} {{ pregunta.dato.literal_pregunta }}</td>
                                                  <td class="text-center">{{ parseFloat(pregunta.dato.porc).toFixed(decimales)  }}</td>
                                                  <td><graph-line :datos="datosArray(pregunta.medicion)"></graph-line></td>
                                                </tr>
                                          </tbody>
                                        </table>
                                      </td>
                                    </tr>
                                  </template>
                                </template>
                              </tbody>
                              
                      </table>
                    </div>
                </div>
            </div>
          </div>

          <div class="col col-md-5 mt-2">
            <div class="card mb-2">
              <div class="card-header bg-primary text-white shadow">
                  
                  <!-- <svg class="svg-inline--fa fa-chart-area fa-w-16 me-1" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chart-area" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M500 384c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12H12c-6.6 0-12-5.4-12-12V76c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v308h436zM372.7 159.5L288 216l-85.3-113.7c-5.1-6.8-15.5-6.3-19.9 1L96 248v104h384l-89.9-187.8c-3.2-6.5-11.4-8.7-17.4-4.7z"></path></svg> -->
                  <div class="row">
                    <div class="col col-md-6 mt-2">
                      <h5 class="card-title text-start"><i class="fas fa-trophy fa-4x"></i></h5>
                    </div>
                    <div class="col col-md-6 mt-2 text-end ">
                      <span class="text-white small">Cumplimiento Total</span>
                      <h1 class="card-title">{{ total }}%</h1>
                    </div>
                  </div>
                  
                  
              </div>
              <div class="card-body">
                <bar-chart :chart-data="datacollection" :options="options" :height="300"></bar-chart>
              </div>
            </div>
          </div>

        </div>
    </div>
</template>


<script>

    import BarChart from '../BarChart'

    export default {
      components: { BarChart },
        data() {
            return {
              datacollection: {},
                decimales: 1,
                options: {},
                datos: {},
                grafico: [],
                total: null,
                nivel: 1,
                filtro : {
                    medicion_id: 0,
                    formato_id: 1,
                    sucursal_id: 0,
                    seccion_id: 0,
                    dimension_id: 0,
                },
                muestraFiltro : {
                    medicion : true,
                    formato : true,
                    seccion : false,
                    dimension : false,
                }
            }
        },
        methods: {
            datosArray(medicion) {
              let medicionesArray = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0];
              const mediciones = Object.entries(medicion);
              mediciones.forEach(([key, values]) => {
                medicionesArray[key - 1] = values;
              })
              return medicionesArray; 
           },
            aplicaFiltro(filtro) {
                this.filtro = filtro;
            },
            recuperaPuntoContacto(){
                this.datos = {};
                this.$Progress.start()
                axios.post("post_punto_contacto2", {
                    'filtro' : this.filtro
                }) //.then(({ data }) => (this.datos = data.data));

                .then(({data})=>{
                    this.datos = data.data.dato;
                    this.grafico = data.data.grafico;
                    this.total = data.data.total;
                    this.fillData();
                })
                
                this.$Progress.finish()
            },
            fillData ()
            {
              this.datacollection = {
                title: {
                    display: true,
                    text: 'Chart.js Line Chart - Legend'
                },
                labels: [
                    'Frutas y Verduras', 'Carnicería', 'Fiambrería', 'Panadería y Pastelería'
                ],
                datasets: [
                  {
                    label: 'Total',
                    data: this.grafico,
                    backgroundColor: 'rgba(0, 113, 206, 0.4)',
                    borderColor: 'rgb(0, 113, 206)',
                    borderWidth: 1
                  }
                ],
                }

              this.options = {
                scales: {
                  yAxes: [{
                      ticks: {
                          max: 100, // maximum value
                          min:0
                      }
                  }]
                },
              }
            }
        },
         
         watch: {
            filtro: {
                handler: function(val, oldVal) {
                    this.recuperaPuntoContacto(); // call it in the context of your component object
                },
                deep: true
            }
        }, 
        created () {
            this.recuperaPuntoContacto();
        },
    }
</script>

<style lang="css" scoped>

</style>