<template>
    <div>

        <filtro-completo @aplicaFiltro="aplicaFiltro" :muestraFiltro=muestraFiltro></filtro-completo>

        <div class="card mb-2 mt-5">
            <bar-stack-chart 
                :chart-data="datosGrafico()" 
                :height="100" 
                :options="optionStack()">
            </bar-stack-chart>
        </div>

    </div>
</template>

<script>
    import BarStackChart from '../BarStackChart.js'
    export default {
        components: {
            BarStackChart
        },
        data() {
            return {
                datacollection: null,
                options: null,
                datos_graficos: null,
                dashboard: {},
                promotor: [],
                detractor: [],
                neto: [],
                labels: [],

                muestraFiltro : {
                    viaje : false,
                    familia : true,
                    tipo : true,
                    funeraria : true,
                    necesidad : true,
                    parque : true,
                    fecha_ini : true,
                    fecha_fin : true,
                    origen_venta : true,
                    uso_producto : true,
                }

            }
        },

        methods: {
            aplicaFiltro(filtro) {
                console.log("procesa filtros");
                this.filtro = filtro;
                this. recuperaDashboard();
            },
            async recuperaDashboard(){
                await axios.post("api/visita_y_pago", {
                    'cod_seccion' : this.codSeccion,
                    'filtro' : this.filtro
                })
                .then((data)=>{
                    // this.datos = data.data.data;
                    // console.log(data);
                    this.promotor = data.data.data.promotor;
                    this.detractor = data.data.data.detractor;
                    this.neto = data.data.data.neto;
                    this.labels = data.data.data.labels;
                    this.fillData();
                })
                // ({ data }) => (this.datos = data.data)
            },
            fillData ()
            {
                this.options = {
                    responsive: true, 
                    maintainAspectRation: true,
                    scales: {
                        xAxes: [{
                            stacked: true,
                        }],
                        yAxes: [{
                            stacked: true,
                            ticks: {
                                
                                max: 100 // maximum value
                            }
                        }]
                    },
                    hover: {
                        animationDuration: 0
                    },
                    animation: {
                        //duration : 1,
                        onComplete : function() {
                            var chartInstance = this.chart,
                            ctx = chartInstance.ctx;

                            ctx.font = Chart.helpers.fontString(
                                Chart.defaults.global.defaultFontSize, 
                                Chart.defaults.global.defaultFontStyle, 
                                Chart.defaults.global.defaultFontFamily
                            );
                            ctx.textAlign = 'center';
                            ctx.textBaseline = 'bottom';
                            ctx.fillStyle = "#000";

                            this.data.datasets.forEach(function(dataset, i) {
                                var meta = chartInstance.controller.getDatasetMeta(i);
                                meta.data.forEach(function(bar, index) {
                                    var data = dataset.data[index];
                                    if (i == 1){
                                        ctx.fillStyle = "#000";
                                        ctx.fillText(data, bar._model.x, bar._model.y - 5);
                                    }
                                    else if (i == 2){
                                        ctx.fillStyle = "#000";
                                        ctx.fillText(data, bar._model.x, bar._model.y + 15);
                                    }
                                    else {
                                        ctx.fillStyle = "0BA580";
                                        ctx.fillText(data, bar._model.x, bar._model.y - 5);
                                    }
                                    
                                });
                            });
                        }
                    },
                }


            },
            optionStack() {
                let opt = {
                    responsive: true, 
                    maintainAspectRation: true,
                    scales: {
                        xAxes: [{
                            stacked: true,
                        }],
                        yAxes: [{
                            stacked: true,
                            ticks: {
                                
                                max: 120 // maximum value
                            }
                        }]
                    },
                    hover: {
                        animationDuration: 0
                    },
                    animation: {
                        //duration : 1,
                        onComplete : function() {
                            var chartInstance = this.chart,
                            ctx = chartInstance.ctx;

                            ctx.font = Chart.helpers.fontString(
                                Chart.defaults.global.defaultFontSize, 
                                Chart.defaults.global.defaultFontStyle, 
                                Chart.defaults.global.defaultFontFamily
                            );
                            ctx.textAlign = 'center';
                            ctx.textBaseline = 'bottom';
                            ctx.fillStyle = "#000";

                            this.data.datasets.forEach(function(dataset, i) {
                                var meta = chartInstance.controller.getDatasetMeta(i);
                                meta.data.forEach(function(bar, index) {
                                    var data = dataset.data[index];
                                    if (i == 1){
                                        ctx.fillStyle = "#FFF";
                                        ctx.fillText(data, bar._model.x, bar._model.y - 15);
                                    }
                                    else if (i == 2){
                                        ctx.fillStyle = "#FFF";
                                        ctx.fillText(data, bar._model.x, bar._model.y + 15);
                                    }
                                    else {
                                        ctx.fillStyle = "#151817";
                                        ctx.fillText(data, bar._model.x, bar._model.y - 5);
                                    }
                                    
                                });
                            });
                        }
                    },
                }
                return opt;
            },

            datosGrafico(){
                let promotor = null;
                let detractor = null;
                let neto = null;
                let label = null;

                neto = this.neto;
                promotor = this.promotor;
                detractor = this.detractor;
                label = this.labels;

                let xdata = {
                    labels: label,
                    datasets: [
                        {
                            label: "Satisfacción Neta",
                            type: "line",
                            tension: 0.0,
                            borderColor: 'rgba(0, 0, 0, 0)',
                            data: neto,
                            fill: false,
                            pointRadius: 5,
                            pointBackgroundColor: 'rgba(0, 100, 0, 1)'
                        }, {
                            label: "Satisfechos",
                            type: "bar",
                            backgroundColor: "#3daadf",
                            backgroundColorHover: "#3e95cd",
                            data: promotor,
                        }, {
                            label: "Insatisfechos",
                            type: "bar",
                            backgroundColor: "#c00000",
                            backgroundColorHover: "#3e95cd",
                            data: detractor,
                        }
                    ]
                }
                return xdata;

            }


        },

        created () {
            this.recuperaDashboard();
        },
        
    }
</script>

<style lang="scss" scoped>

</style>