<template>
    <div>
        <div v-if="$gate.isAdminOrAlerta()">
            <div class="card">
                <!-- <div class="card-header">
                    <h5 class="card-title">Filtro </h5>
                </div> -->
                <div class="card-body">
                    <filtro-completo-alerta @aplicaFiltro="aplicaFiltro" :muestraFiltro=muestraFiltro></filtro-completo-alerta>
                </div>
            </div>

            <div class="mt-4 mb-4 col-xl-12 card">
                <!-- <div class="card-header">
                    <div class="card-tools d-flex">
                        <h5 class="card-title">Preguntas </h5>
                    </div>
                </div> -->
                <div class="p-0 card-body">
                    <!-- Billing history table-->
                    <div class="table-responsive table-billing-history">
                        <table class="table mb-0">
                            <thead>
                                <tr>
                                    <th class="border-gray-200" scope="col">Id</th>
                                    <th class="border-gray-200" scope="col">Fecha</th>
                                    <th class="border-gray-200" scope="col">Estudio</th>
                                    <th class="border-gray-200" scope="col">Satisfacción</th>
                                    <th class="border-gray-200" scope="col">Qué sugeriría</th>
                                    <th class="border-gray-200" scope="col">Inconveniente</th>
                                    <th class="border-gray-200" scope="col">Alerta</th>
                                    <th class="border-gray-200" scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="dato in datos.data" :key="dato.id">
                                    <td>{{ dato.id }}</td>
                                    <td width="10%">{{ dato.fecha_medicion | myDateShort }}</td>
                                    <td >{{ dato.estudio.nom_estudio }}</td>
                                    <td class="text-center">{{ dato.P14 }}</td>
                                    <td>{{ dato.P14_1 }}</td>
                                    
                                    <td class="text-center">
                                        <span v-if="dato.P15 && dato.P15 == 1" class="badge bg-success">Si</span>
                                        <span v-if="dato.P15 && dato.P15 == 2" class="badge bg-danger">No</span>
                                        
                                    </td>
                                    <td class="text-center">
                                        <span v-if="dato.alertas.length > 0" class="badge bg-success">{{ dato.alertas[0].created_at | myDateShort }}</span>
                                        <span v-else></span>
                                    </td>
                                    <td width="10%">
                                        <button v-if="dato.alertas.length > 0" type="button" class="btn btn-success btn-sm btn-block"  href="#" @click="codifica(true, dato)">
                                            &nbsp;Ver&nbsp;&nbsp;
                                        </button>
                                        <button v-else type="button" class="btn btn-primary btn-sm" href="#" @click="codifica(false, dato)">
                                            Email 
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="card-footer">
                    <pagination :data="datos" @pagination-change-page="getResults" size="small" :limit="3">
                        <span slot="prev-nav">&lt; Previo</span>
	                    <span slot="next-nav">Siguiente &gt;</span>
                    </pagination>
                </div>
            </div>
        </div>

        <div v-else>
            <not-found></not-found>
        </div>


        <!-- Modal -->
        <div class="modal fade" id="addNew" tabindex="-1" data-bs-backdrop="static" role="dialog" aria-labelledby="addNewTitle" aria-hidden="true">
            <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable" role="document">
                <div v-if="Object.keys(codificacion).length > 0" class="modal-content">
                    <!-- <form @submit.prevent="editmode ? updateUser() : createUser()" @keydown="form.onKeydown($event)"> -->

                        <div class="modal-header">
                            <h5 class="modal-title text-primary" v-show="!editmode">Enviar</h5>
                            <h5 class="modal-title text-primary" v-show="editmode">Ver</h5>
                            <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
                        </div>

                        <div class="modal-body">
                            
                            <div class="row">
                                <div class="col-sm-7">
                                    <table class="table table-bordered table-sm">
                                        <tr>
                                            <th>Fecha</th>
                                            <td>{{ codificacion.fecha_medicion | myDateShort }}</td>
                                        </tr>
                                        <tr>
                                            <th>Viaje</th>
                                            <td>{{ codificacion.estudio.nom_estudio }}</td>
                                        </tr>
                                        <tr>
                                            <th>Rut</th>
                                            <td>{{ codificacion.RUT_CLNT_TIT }}</td>
                                            
                                        </tr>
                                        <tr>
                                            <th>Nombre</th>
                                            <td>{{ codificacion.NMB_CLNT_TIT }}</td>
                                        </tr>
                                        <tr>
                                            <th>Teléfono</th>
                                            <td>
                                                {{ codificacion.COD_AREA_FONO_FIJO ? '(' + codificacion.COD_AREA_FONO_FIJO + ')' : ''}}
                                                {{ codificacion.FONO_FIJO ? codificacion.FONO_FIJO : '-'  }} 
                                            </td>
                                            
                                        </tr>
                                        <tr>
                                            <th>Celular</th>
                                            <td>{{ codificacion.FONO_CELULAR }}</td>
                                        </tr>
                                        <tr>
                                            <th>Mail</th>
                                            <td>{{ codificacion.EMAIL_CLIE }}</td>
                                            
                                        </tr>
                                        <tr>
                                            <th>Tipo Necesidad </th>
                                            <td>{{ codificacion.TIPO_NECES_OP }}</td>
                                        </tr>
                                        <tr>
                                            <th>Producto </th>
                                            <td>{{ codificacion.TIPO_PRODUCTO }}</td>
                                        </tr>
                                        <tr>
                                            <th>Fracción </th>
                                            <td>{{ codificacion.FRACCION }}</td>
                                        </tr>
                                        <tr>
                                            <th>Parque </th>
                                            <td>{{ codificacion.PARQUE_FISICO }}</td>
                                        </tr>
                                        <tr>
                                            <th>Satisfacción Global</th>
                                            <td>{{ codificacion.P14 }}</td>
                                        </tr>
                                        <tr>
                                            <th>Qué sugeriría</th>
                                            <td colspan="3">{{ codificacion.P14_1 }}</td>
                                        </tr>
                                        <tr v-if="codificacion.P15">
                                            <th>Algún inconveniente</th>
                                            <td>{{ codificacion.P15 == 1 ? 'Si' : 'No' }}</td>
                                        </tr>
                                        <tr v-if="codificacion.P15 && codificacion.P15 == 1">
                                            <th>¿Cuál fue el inconveniente?</th>
                                            <td colspan="3">{{ codificacion.P16 }}</td>
                                        </tr>
                                        <tr v-if="codificacion.P15 && codificacion.P15 == 1">
                                            <th>¿Fue solucionado?</th>
                                            <td>{{ codificacion.P17 == 1 ? 'Si' : 'No' }}</td>
                                        </tr>

                                    </table>
                                </div>
                                <div class="col-sm-5">


                                    <div class="card card-primary">
                                        <div class="card-header">
                                            <h5 class="card-title">Datos Email</h5>
                                        </div>


                                        <form @submit.prevent="createMail()" @keydown="form.onKeydown($event)">
                                            
                                            
                                            <div class="card-body">
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Destinatario</label>
                                                    <div class="mt-1" v-for="(email, index) in form.emails" :key="index">
                                                        <div class="row">
                                                            <div class="col-sm-10">
                                                                <input  v-model="email.direccion" type="email" class="form-control" id="exampleInputEmail1" placeholder="email" required>
                                                            </div>
                                                            <div class="col-sm-1">
                                                                <button
                                                                    type="button"
                                                                    class="btn btn-danger btn-sm"
                                                                    @click="remove(index)"
                                                                    v-show="index != 0"
                                                                >
                                                                    X
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <button
                                                    type="button"
                                                    class="mt-1 btn btn-primary btn-sm"
                                                    @click="addMore()"
                                                >
                                                    Agregar correo
                                                </button>
                                            </div>
                                            

                                            

                                            <div class="card-body">
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Mensaje</label>
                                                    <textarea  v-model="form.mensaje" class="form-control" rows="3" placeholder="Mensaje ..." required></textarea>
                                                </div>
                                            </div>

                                            <div class="card-footer">
                                                <button v-if="!editmode" type="submit" class="btn btn-primary">Enviar</button>
                                            </div>
                                        </form>
                                    </div>

                                </div>
                            </div>
                            
                            
                        </div>       

                        <div class="modal-footer">
                            <button @click="closeModal()" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        </div>                
                    <!-- </form> -->
                </div>
            </div>
        </div>



    </div>
</template>

<script>
    import Multiselect from 'vue-multiselect'
    import Form from 'vform';
    import NotFound from '../NotFound.vue';
    import FiltroCompletoAlerta from '../FiltroCompletoAlerta.vue';

    export default {
    components: { NotFound, Multiselect, FiltroCompletoAlerta },
        data: () => ({
            satisfacciones: [1, 2, 3, 4, 5, 6, 7],
            estudios: ['Acompañamiento', 'Pago', 'Reclamos', 'Ventas', 'Visita'],
            SiNo: ['Todas', 'Si', 'No'],
            editmode: false,
            clic:0,
            datos: {},
            libro_codigos: {},
            seleccion_codigos: [],
            preguntas: {},
            pagina: 1,
            
            codificacions: {},
            codificacion: {},

            muestraFiltro : {
                viaje : true,
                familia : true,
                tipo : true,
                funeraria : true,
                necesidad : true,
                parque : true,
                fecha_ini : true,
                fecha_fin : true,
                origen_venta : true,
                uso_producto : true,
            },


            filtro: null,

            filter: new Form({
                texto_filtro: '',
                estudio : '',
                satisfaccion : '',
                alerta : 'Todas',
            }),
            filtro_codigos: '',
            filtro_codificados: '',
            form: new Form({
                id: '',
                emails: [
                    {
                        direccion: "",
                    }
                ],
                mensaje: '',
                dato : {}
            })
        }),
        methods: {
            aplicaFiltro(filtro){
                this.filtro = filtro;
                this.getResults();
            },
            getResults(page = 1) {

                // this.filtro = filtro;
                this.$Progress.start();
                const link = 'api/datos_alertas?page=' + page;

                axios.post(link, {
                    'filter' : this.filtro
                })
                .then((data)=>{
                    this.datos = data.data.data
                })
                .catch(()=>{
                    toast.fire({
                        icon: 'error',
                        title: 'Error en la codificación'
                    });
                });

                this.$Progress.finish();
            },
            async getLibroCodigo(){
                this.$Progress.start();
                const link = 'api/libro_codigos/' + this.filter.pregunta;
                await axios.get(link).then(({ data }) => (this.libro_codigos = data.data));
                this.$Progress.finish();
            },

            addMore() {
                this.form.emails.push({
                    direccion: "",
                });
            },  

            remove(index) {
                this.form.emails.splice(index, 1);
            },
                
            createMail() {
                this.form.post('api/mail_alerta')
                .then((response)=>{
                    $('#addNew').modal('hide');
                    toast.fire({
                        icon: 'success',
                        title: response.data.message
                    });
                    this.$Progress.finish();
                    this.getResults();
                })
                .catch(()=>{
                    toast.fire({
                        icon: 'error',
                        title: 'Some error occured! Please try again'
                    });
                })


            },
            loadPreguntasCodificar(){
                this.$Progress.start();
                if(this.$gate.isAdmin){
                    axios.get('api/pregunta_codificar').then(({data}) => (this.preguntas = data.data));
                }
                this.$Progress.finish();
            },
            loadEstudioCodificar(){
                this.$Progress.start();
                if(this.$gate.isAdmin){
                    axios.get('api/estudios_codificar').then(({data}) => (this.estudios = data.data));
                }
                this.$Progress.finish();
            },
            loadCodificacions(){
                this.$Progress.start();
                if(this.$gate.isAdmin){
                    axios.get('api/codificacion').then(({data}) => (this.codificacions = data.data));
                }
                this.$Progress.finish();
            },
            codifica(editmode, dato){
                this.clic = 1;
                this.codificacion = dato;
                this.editmode = editmode;
                this.form.reset();
                if (editmode){
                    this.form.email = dato.alertas[0].email;
                    this.form.mensaje = dato.alertas[0].mensaje;
                }
                this.form.dato = dato;
                $('#addNew').modal('show');

            },
            closeModal(){
                this.editmode = false;
                $('#addNew').modal('show');
                this.seleccion_codigos = [];
                this.getResults();
                this.getLibroCodigo();
            },
            agregaCodificacion(index, libro_pregunta){
                // console.log(index)
                this.seleccion_codigos.push(libro_pregunta);
                this.libro_codigos.splice(index, 1);


                axios.post("api/respuesta_abierta_codificada_create", {
                    'respuestas_abierta_id' : this.codificacion.id,
                    'pregunta_codificar_id' : libro_pregunta.pregunta_codificar_id,
                    'libro_codigo_id' : libro_pregunta.codigo
                })
                .then((response)=>{
                    toast.fire({
                        icon: 'success',
                        title: response.data.message
                    });
                })
                .catch(()=>{
                    toast.fire({
                        icon: 'error',
                        title: 'Error en la codificación'
                    });
                });

            },

            eliminaCodificacion(index, libro_pregunta){
                // console.log(index)
                
            
                axios.post("api/respuesta_abierta_codificada_destroy", {
                    'respuestas_abierta_id' : this.codificacion.id,
                    'pregunta_codificar_id' : libro_pregunta.pregunta_codificar_id,
                    'libro_codigo_id' : libro_pregunta.codigo
                })
                .then((response)=>{
                    toast.fire({
                        icon: 'success',
                        title: response.data.message
                    });
                    this.libro_codigos.push(libro_pregunta);
                    this.seleccion_codigos.splice(index, 1);
                })
                .catch(()=>{
                    toast.fire({
                        icon: 'error',
                        title: 'Error en la codificación'
                    });
                });

            },


            async filtrarCodificacion(){
                await this.getLibroCodigo();
                if (this.filtro_codigos.length > 0){
                    this.libro_codigos = this.libro_codigos.filter(libro_codigo => {
                        return libro_codigo.descripcion.includes(this.filtro_codigos);
                    })
                }
                
            }
            // filtrarCodificacion : function(){
            //     if (this.filtro_codigos.length > 0){
            //         this.libro_codigos.filter(libro_codigo => {
            //             return libro_codigo.descripcion.includes(this.filtro_codigos) !== -1;
            //         })
            //     }
            // }
            
            
        },
        created () {
            // this.getResults();
            
        },

        // watch: {
        //     filter: {
        //         handler: function(val, oldVal) {
        //             this.getResults();
        //             // this.getLibroCodigo();
        //         },
        //         deep: true
        //     }
        // }
        
    }
</script>

<style lang="scss" scoped>

</style>