<template>
    <div v-if="pregunta.cod_interno">

        <table class="table table-bordered border-primary">
            <thead>
                <tr>
                    <th width="85%">{{ pregunta.cod_interno }} {{ pregunta.literal_pregunta }}</th>
                    <th class="text-center">Julio Q1</th>
                    <th class="text-center">Julio Q2</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(variedad, index) in variedades" :key="variedad.cod_interna">
                    <td width="85%">{{ index }}</td>
                    <td class="text-center">{{ variedad.m1 == 1 ? "100%" : "0%" }}</td>
                    <td class="text-center">{{ variedad.m2 == 1 ? "100%" : "0%" }}</td>
                </tr>
            </tbody>
        </table>



    </div>
</template>

<script>
    export default {
        data() {
            return {
                filtroComponente: this.filtro.sucursal_id,
                pregunta: {},
                variedades: {},
            }
        },
        props: ['filtro', 'cod_interno'],
        methods: {
            // aplicaFiltro(filtro) {
            //     this.filtro = filtro;
            // },
            recuperaDatos(){
                axios.post("post_variedad_por_seccion", {
                    'filtro' : this.filtro.sucursal_id,
                    'cod_interno' : this.cod_interno,
                }).then(({ data }) => (this.pregunta = data.data));
            },
            recuperaVariedades(){
                // this.variedades = {};
                this.$Progress.start()
                axios.post("post_variedad_por_pregunta", {
                    'filtro' : this.filtro.sucursal_id,
                    'cod_interno' : this.cod_interno,
                }).then(({ data }) => (this.variedades = data.data));
                this.$Progress.finish()
            }
        },
        watch: {
            filtro: {
                handler: function(val, oldVal) {
                    this.recuperaDatos(); // call it in the context of your component object
                    this.recuperaVariedades(); // call it in the context of your component object
                },
                deep: true
            }
        }, 
    }
</script>

<style lang="scss" scoped>

</style>