<template>
    <div>

        <filtro-completo @aplicaFiltro="aplicaFiltro" :muestraFiltro=muestraFiltro></filtro-completo>

        <div class="card mb-2">
            <div class="card-body">
                <div class="form-check form-check-inline">
                    <input v-model="muestra" @click="cambiaMuestra(1)" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="1">
                    <label class="form-check-label" for="inlineRadio1">
                        ¿Por qué evalúa con este grado de recomendación a Sendero?
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <input v-model="muestra" @click="cambiaMuestra(2)" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="2">
                    <label class="form-check-label" for="inlineRadio2">
                        ¿Qué sugeriría para mejorar el servicio de Sendero?
                    </label>
                </div>
            </div>
        </div>
        <div class="card mb-2">
            <div class="card-body">
                <div class="form-check form-check-inline">
                    <input v-model="muestraPromotor" @click="cambiaMuestraPromotor()" class="form-check-input" type="radio" name="muestraPromotor" id="muestraPromotor1" value="1">
                    <label class="form-check-label" for="muestraPromotor1">
                        Promotor
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <input v-model="muestraPromotor" @click="cambiaMuestraPromotor()" class="form-check-input" type="radio" name="muestraPromotor" id="muestraPromotor2" value="2">
                    <label class="form-check-label" for="muestraPromotor2">
                        Neutro
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <input v-model="muestraPromotor" @click="cambiaMuestraPromotor()" class="form-check-input" type="radio" name="muestraPromotor" id="muestraPromotor3" value="3">
                    <label class="form-check-label" for="muestraPromotor3">
                        Detractores
                    </label>
                </div>
            </div>
        </div>

        <div class="row">
            <div v-if="muestraPromotor == 1" class="col-xl-12 mt-4">
                <div class="card mb-4">
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold enex">Promotores</h6>
                    </div>
                    <div class="card-body">
                        <horizontal-bar-chart :chart-data="datacollection" :options="options" :height="300"></horizontal-bar-chart>
                    
                    </div>
                </div>
            </div>

            <div v-if="muestraPromotor == 2" class="col-xl-12 mt-4">
                <div class="card mb-4">
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold enex">Neutros</h6>
                    </div>
                    <div class="card-body">
                        <horizontal-bar-chart :chart-data="datacollectionNeutros" :options="optionsNeutros" :height="300"></horizontal-bar-chart>
                    
                    </div>
                </div>
            </div>

            <div v-if="muestraPromotor == 3" class="col-xl-12 mt-4">
                <div class="card mb-4">
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold enex">Detractores</h6>
                    </div>
                    <div class="card-body">
                        <horizontal-bar-chart :chart-data="datacollectionDetractores" :options="optionsDetractores" :height="300"></horizontal-bar-chart>
                    
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
    // import FiltroCompleto from '../FiltroCompleto.vue';
    import HorizontalBarChart from '../HorizontalBarChart'

    export default {
        components: {  HorizontalBarChart },
        data() {
            return {
                muestra: 1,
                muestraPromotor: 1,
                datacollection: {},
                options: {},
                datacollectionDetractores: {},
                optionsDetractores: {},
                datacollectionNeutros: {},
                optionsNeutros: {},
                datos: {},
                valores: {},
                etiquetas: {},
                colores: {},
                bordes: {},
                promotores: {},
                detractores: {},
                neutros: {},
                muestraFiltro : {
                    viaje : true,
                    familia : true,
                    tipo : true,
                    funeraria : true,
                    necesidad : true,
                    parque : true,
                    fecha_ini : true,
                    fecha_fin : true,
                    origen_venta : true,
                    uso_producto : true,
                }
            }
        },
        methods: {
            cambiaMuestra(muestra){
                this.muestra = muestra;
                this.recuperaDatos();
            },

            cambiaMuestraPromotor(){
                // this.muestraPromotor = muestra;
                this.recuperaDatos();
            },


            aplicaFiltro(filtro) {
                // console.log('por acá');
                this.filtro = filtro;
                this.recuperaDatos();
            },
            async recuperaDatos(){
                //this.promotores = {};
                const link = this.muestra == 1 ? "api/drivers" : "api/drivers_2";

                await axios.post(link, {
                    'filtro' : this.filtro,
                }) //.then(({ data }) // => (this.datos = data.data));
                .then(({data})=>{
                    this.promotores = data.data.promotor;
                    this.detractores = data.data.detractor;
                    this.neutros = data.data.neutro;
                    this.fillData();
                    this.fillDataDetractores ();
                    this.fillDataNeutros();
                });
                 
            },
            fillData ()
            {
                this.datacollection = {
                    title: {
                        display: false,
                        text: 'Chart.js Line Chart - Legend'
                    },
                    labels: this.promotores.labels,
                    datasets: [{
                        label: 'Total...',
                        data: this.promotores.porc,
                        backgroundColor: this.promotores.colores,
                        // borderColor: this.bordes,
                        borderWidth: 1
                    }],
                }

                this.options = {
                    
                    legend: {
                        display: false
                    },
                    scales: {
                        xAxes: [{
                            ticks: {
                                max: 100, // maximum value
                                min:0
                            }
                        }]
                    },
                }
            },

            fillDataDetractores ()
            {
                this.datacollectionDetractores = {
                    title: {
                        display: false,
                        text: 'Chart.js Line Chart - Legend'
                    },
                    labels: this.detractores.labels,
                    datasets: [{
                        label: 'Total...',
                        data: this.detractores.porc,
                        backgroundColor: this.detractores.colores,
                        // borderColor: this.bordes,
                        borderWidth: 1
                    }],
                }

                this.optionsDetractores = {
                    
                    legend: {
                        display: false
                    },
                    scales: {
                        xAxes: [{
                            ticks: {
                                max: 100, // maximum value
                                min:0
                            }
                        }]
                    },
                }
            },

            fillDataNeutros ()
            {
                this.datacollectionNeutros = {
                    title: {
                        display: false,
                        text: 'Chart.js Line Chart - Legend'
                    },
                    labels: this.neutros.labels,
                    datasets: [{
                        label: 'Total...',
                        data: this.neutros.porc,
                        backgroundColor: this.neutros.colores,
                        // borderColor: this.bordes,
                        borderWidth: 1
                    }],
                }

                this.optionsNeutros = {
                    
                    legend: {
                        display: false
                    },
                    scales: {
                        xAxes: [{
                            ticks: {
                                max: 100, // maximum value
                                min:0
                            }
                        }]
                    },
                }
            },
            
        },
        created () {
            this.recuperaDatos();
        },
        // watch: {
        //     filtro: {
        //         handler: function(val, oldVal) {
        //             this.recuperaDatos(); // call it in the context of your component object
        //         },
        //         deep: true
        //     }
        // }, 
    }
</script>

<style lang="scss" scoped>

</style>