<template>
    <div>

        <filtro-completo @aplicaFiltro="aplicaFiltro" :muestraFiltro=muestraFiltro></filtro-completo>

        <div class="card mb-2">
            <div class="card-body">
                <div class="form-check form-check-inline">
                    <input v-model="muestra" @click="cambiaMuestra(1)" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="1">
                    <label class="form-check-label" for="inlineRadio1">
                        NPS
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <input v-model="muestra" @click="cambiaMuestra(2)" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="2">
                    <label class="form-check-label" for="inlineRadio2">
                        Satisfacción global
                    </label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-6 mt-4">
                <div class="card mb-4">
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold enex">% Problemas</h6>
                    </div>
                    <div class="card-body">
                        <horizontal-bar-chart :chart-data="datacollection" :options="options" :height="250"></horizontal-bar-chart>
                    
                    </div>
                </div>
            </div>

            <div class="col-xl-6 mt-4">
                <div class="card mb-4">
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 v-if="muestra==1" class="m-0 font-weight-bold enex">NPS</h6>
                        <h6 v-if="muestra==2" class="m-0 font-weight-bold enex">Satisfacción neta comparativo</h6>
                    </div>
                    <div class="card-body">
                        <horizontal-bar-chart :chart-data="datacollectionDetractores" :options="optionsDetractores" :height="250"></horizontal-bar-chart>
                    
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
    // import FiltroCompleto from '../FiltroCompleto.vue';
    import HorizontalBarChart from '../HorizontalBarChart'

    export default {
        components: {  HorizontalBarChart },
        data() {
            return {
                muestra: 1,
                datacollection: {},
                options: {},
                datacollectionDetractores: {},
                optionsDetractores: {},
                datos: {},
                valores: {},
                etiquetas: {},
                colores: {},
                bordes: {},
                problemas: {},
                con_problemas: {},
                sin_problemas: {},
                muestraFiltro : {
                    viaje : true,
                    familia : true,
                    tipo : true,
                    funeraria : true,
                    necesidad : true,
                    parque : true,
                    fecha_ini : true,
                    fecha_fin : true,
                    origen_venta : true,
                    uso_producto : true,
                }
            }
        },
        methods: {
            cambiaMuestra(muestra){
                // console.log('por acá');
                this.muestra = muestra;
                this.recuperaDatos();
            },
            aplicaFiltro(filtro) {
                // console.log('por acá');
                this.filtro = filtro;
                this.recuperaDatos();
            },
            async recuperaDatos(){
                const link = "api/problemas";

                await axios.post(link, {
                    'filtro' : this.filtro,
                }) 
                .then(({data})=>{
                    this.problemas = data.data;
                    this.fillData();
                });

                const link2 = this.muestra == 1  ? "api/problemas_nps" : "api/problemas_satis";

                await axios.post(link2, {
                    'filtro' : this.filtro,
                })
                .then(({data})=>{
                    this.con_problemas = data.data.con_problemas;
                    this.sin_problemas = data.data.sin_problemas;
                    this.fillDataDetractores ();
                });
                 
            },
            fillData ()
            {
                this.datacollection = {
                    title: {
                        display: false,
                        text: 'Chart.js Line Chart - Legend'
                    },
                    labels: this.problemas.labels,
                    datasets: [{
                        label: '% ',
                        data: this.problemas.porc,
                        backgroundColor: this.problemas.colores,
                        // borderColor: this.bordes,
                        borderWidth: 1
                    }],
                }

                this.options = {
                    
                    legend: {
                        display: false
                    },
                    scales: {
                        xAxes: [{
                            ticks: {
                                max: 100, // maximum value
                                min:0
                            }
                        }]
                    },
                }
            },

            fillDataDetractores ()
            {
                this.datacollectionDetractores = {
                    title: {
                        display: false,
                        text: 'Chart.js Line Chart - Legend'
                    },
                    labels: this.con_problemas.labels,
                    datasets: [
                        {
                            label: 'Con Problemas',
                            data: this.con_problemas.neto,
                            backgroundColor: this.con_problemas.colores,
                            // borderColor: this.bordes,
                            borderWidth: 1
                        },
                        {
                            label: 'Sin Problemas',
                            data: this.sin_problemas.neto,
                            backgroundColor: this.sin_problemas.colores,
                            // borderColor: this.bordes,
                            borderWidth: 1
                        },
                        

                    ],
                }

                this.optionsDetractores = {
                    
                    legend: {
                        display: true
                    },
                    // scales: {
                    //     xAxes: [{
                    //         ticks: {
                    //             max: 100, // maximum value
                    //             min:0
                    //         }
                    //     }]
                    // },
                }
            },
            
        },
        created () {
            this.recuperaDatos();
        },
        // watch: {
        //     filtro: {
        //         handler: function(val, oldVal) {
        //             this.recuperaDatos(); // call it in the context of your component object
        //         },
        //         deep: true
        //     }
        // }, 
    }
</script>

<style lang="scss" scoped>

</style>