<template>
    <div>
        <div v-if="$gate.isAdminOrCodificador()">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Filtro </h5>
                </div>
                <div class="card-body">
                    <div class="form-group row">
                        
                        <!-- <label for="inputEmail3" class="col-sm-1 col-form-label">Tipo</label> -->
                        <div class="col-sm-6">
                            <select v-model="filter.pregunta" name="type" id="type" class="form-control">
                                <option :value="pregunta.id" v-for="pregunta in preguntas" :key="pregunta.id">{{ pregunta.id }}  {{ pregunta.texto }}</option>
                            </select>
                        </div>
                        <!-- <label for="inputEmail3" class="col-sm-1 col-form-label">Estudio</label> -->
                        <div class="col-sm-5">
                            <input v-model="filter.descripcion" type="text" class="form-control" id="exampleInputEmail1" placeholder="Buscar descripción">
                        </div>

                        
                        <div class="col-sm-1">
                            <button type="button" @click="getResults()" class="btn btn-sm btn-primary btn-block">Filtrar</button>
                        </div>
                    </div>

                </div>
            </div>

            <div class="mt-4 mb-4 col-xl-12 card">
                <div class="card-header">
                    <div class="card-tools d-flex justify-content-end">
                        
                        <button class="btn btn-sm btn-primary" type="button" @click="newModal">
                            <i class="fa fa-plus-square"></i>
                            Agregar usuarios
                        </button>
                    </div>
                </div>
                <div class="p-0 card-body">
                    <!-- Billing history table-->
                    <div class="table-responsive table-sm table-hover">
                        <table class="table mb-0">
                            <thead>
                                <tr>
                                    <th class="border-gray-200" scope="col">Código</th>
                                    <th class="border-gray-200" scope="col">Descripción</th>
                                    <th class="border-gray-200" scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="dato in datos" :key="dato.id">
                                    <td>{{ dato.codigo }}</td>
                                    <td>{{ dato.descripcion }}</td>
                                    
                                    <td>
                                        <button @click=updateModal(dato) type="button" class="btn btn-primary btn-sm" href="#" >
                                            Editar 
                                        </button>
                                        <!-- <button type="button" class="btn btn-success btn-sm" href="#" >
                                            Codificar 
                                        </button> -->
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>

        <div v-else>
            <not-found></not-found>
        </div>


        <!-- Modal -->
        <div class="modal fade" id="addNew" tabindex="-1" data-bs-backdrop="static" role="dialog" aria-labelledby="addNewTitle" aria-hidden="true">
            <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable" role="document">
                <div class="modal-content">
                    <!-- <form @submit.prevent="editmode ? updateUser() : createUser()" @keydown="form.onKeydown($event)"> -->


                        <div class="modal-header">
                            <h5 class="modal-title" v-show="!editmode">Crea codificación</h5>
                            <h5 class="modal-title" v-show="editmode">Actualiza codificación</h5>
                            <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
                        </div>

                        <div class="modal-body">

                            <div class="form-group row">
                                <label for="inputEmail3" class="col-sm-1 col-form-label">Código</label>
                                <div class="col-sm-2">
                                    <input type="number" v-model="form.codigo" class="form-control" id="codigo" required>
                                </div>

                                <label for="inputEmail3" class="col-sm-1 col-form-label">Descripción</label>
                                <div class="col-sm-8">
                                    <input type="text" v-model="form.descripcion" class="form-control" id="codigo" required>
                                </div>
                            </div>

                            
                        </div>       

                        <div class="modal-footer">
                            <button @click="closeModal()" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>                
                    <!-- </form> -->
                </div>
            </div>
        </div>



    </div>
</template>

<script>
    import Form from 'vform';
    import NotFound from '../NotFound.vue';

    export default {
    components: { NotFound },
        data: () => ({
            editmode: false,
            clic:0,
            datos: {},
            libro_codigos: {},
            seleccion_codigos: [],
            preguntas: {},
            estudios: {},
            codificacions: {},
            codificacion: {},
            filter: {
                'pregunta' : 1,
                'descripcion' : '',
            },
            filtro_codigos: '',
            filtro_codificados: '',
            form: new Form({
                id: '',
                pregunta_codificar_id: null,
                codigo: null,
                descripcion: ''
            })
        }),
        methods: {
            getResults(page = 1) {
                if(this.filter.descripcion.length > 0 && this.filter.descripcion.length <= 3){
                    return true;
                }
                this.$Progress.start();
                const link = 'api/libro_codigos?page=' + page + '&pregunta=' + this.filter.pregunta + '&descripcion=' + this.filter.descripcion;
                axios.get(link).then(({ data }) => (this.datos = data.data));
                this.$Progress.finish();
            },
            loadPreguntasCodificar(){
                this.$Progress.start();
                if(this.$gate.isAdmin){
                    axios.get('api/pregunta_codificar').then(({data}) => (this.preguntas = data.data));
                }
                this.$Progress.finish();
            },

            newModal(){
                this.clic = 1;
                this.form.reset();
                this.editmode = false;
                
                $('#addNew').modal('show');

            },
            

            updateModal(dato){
                this.clic = 1;
                this.form.reset();
                this.form.pregunta_codificar_id = this.filter.pregunta;
                this.form.codigo = dato.codigo;
                this.form.descripcion = dato.descripcion;
                this.editmode = true;
                $('#addNew').modal('show');

            },
            closeModal(){
                this.editmode = false;
                $('#addNew').modal('show');
                this.seleccion_codigos = [];
                this.getResults();
            },
            agregaCodificacion(index, libro_pregunta){
                // console.log(index)
                this.seleccion_codigos.push(libro_pregunta);
                this.libro_codigos.splice(index, 1);


                axios.post("api/respuesta_abierta_codificada_create", {
                    'respuestas_abierta_id' : this.codificacion.id,
                    'pregunta_codificar_id' : libro_pregunta.pregunta_codificar_id,
                    'libro_codigo_id' : libro_pregunta.codigo
                })
                .then((response)=>{
                    toast.fire({
                        icon: 'success',
                        title: response.data.message
                    });
                })
                .catch(()=>{
                    toast.fire({
                        icon: 'error',
                        title: 'Error en la codificación'
                    });
                });

            },

            eliminaCodificacion(index, libro_pregunta){
                // console.log(index)
                

                axios.post("api/respuesta_abierta_codificada_destroy", {
                    'respuestas_abierta_id' : this.codificacion.id,
                    'pregunta_codificar_id' : libro_pregunta.pregunta_codificar_id,
                    'libro_codigo_id' : libro_pregunta.codigo
                })
                .then((response)=>{
                    toast.fire({
                        icon: 'success',
                        title: response.data.message
                    });
                    this.libro_codigos.push(libro_pregunta);
                    this.seleccion_codigos.splice(index, 1);
                })
                .catch(()=>{
                    toast.fire({
                        icon: 'error',
                        title: 'Error en la codificación'
                    });
                });

            },

            // filtrarCodificacion : function(){
            //     if (this.filtro_codigos.length > 0){
            //         this.libro_codigos.filter(libro_codigo => {
            //             return libro_codigo.descripcion.includes(this.filtro_codigos) !== -1;
            //         })
            //     }
            // }
            
            
        },
        created () {
            this.loadPreguntasCodificar();
            this.getResults();
            
        },

        watch: {
            filter: {
                handler: function(val, oldVal) {
                    console.log(val, oldVal);
                    this.getResults();
                    // this.getLibroCodigo();
                },
                deep: true
            }
        }
        
    }
</script>

<style lang="scss" scoped>

</style>