<template>
    <div>
        <filtro-completo @aplicaFiltro="aplicaFiltro" :muestraFiltro="muestraFiltro"></filtro-completo>

        

        <div class="col-xl-12 mt-4">
            <div class="card mb-4">
                <!-- <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Revenue Sources</h6> -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <svg class="svg-inline--fa fa-chart-area fa-w-16 me-1" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chart-area" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M500 384c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12H12c-6.6 0-12-5.4-12-12V76c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v308h436zM372.7 159.5L288 216l-85.3-113.7c-5.1-6.8-15.5-6.3-19.9 1L96 248v104h384l-89.9-187.8c-3.2-6.5-11.4-8.7-17.4-4.7z"></path></svg><!-- <i class="fas fa-chart-area me-1"></i> Font Awesome fontawesome.com -->
                    <h6 class="m-0 font-weight-bold text-primary">Ranking por local</h6>
                    <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink" style="">
                            <!-- <div class="dropdown-header">Dropdown Header:</div> -->
                            <a class="dropdown-item" @click="muestra=1">Gráfico</a>
                            <a class="dropdown-item" @click="muestra=2">Tabla</a>
                            <!-- <div class="dropdown-divider"></div> -->
                            <!-- <a class="dropdown-item" href="#">Something else here</a> -->
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <bar-chart v-if="muestra==1" :chart-data="datacollection" :options="options" :height="150"></bar-chart>

                    <table v-if="muestra!=1"  class="table table-bordered">
                        <tbody>
                            <tr style="background-color: #0071CE; color : #FFF ">
                                <td width="10%" class="text-center">N° Local</td>
                                <td class="text-center">Nombre Local</td>
                                <td width="10%" class="text-center">% logro</td>
                            </tr>
                            <tr v-for="dato in datos" :key="dato.cod_sucursal">
                                <td class="text-center">{{ dato.cod_sucursal }}</td>
                                <td>{{ dato.nombre_sucursal }}</td>
                                <td class="text-center">{{ dato.porc }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import FiltroCompleto from '../FiltroCompleto2.vue';
    import BarChart from '../BarChart'

    export default {
        components: { FiltroCompleto, BarChart },
        data() {
            return {
                muestra: 1,
                datacollection: {},
                options: {},
                datos: {},
                valores: {},
                etiquetas: {},
                filtro : {
                    medicion_id: 0,
                    formato_id: 0,
                    sucursal_id: 0,
                    seccion_id: 0,
                    dimension_id: 0,
                },
                muestraFiltro : {
                    medicion : true,
                    formato : true,
                    seccion : true,
                    dimension : true,
                }
            }
        },
        methods: {
            aplicaFiltro(filtro) {
                console.log('por acá');
                this.filtro = filtro;
            },
            recuperaDatos(){
                axios.post("api/ranking_local", {
                    'filtro' : this.filtro,
                }) //.then(({ data }) // => (this.datos = data.data));
                .then(({data})=>{
                    this.datos = data.data.dato;
                    this.etiquetas = data.data.etiquetas;
                    this.valores = data.data.valores;
                    this.fillData();
                });
            },
            fillData ()
            {
              this.datacollection = {
                title: {
                    display: true,
                    text: 'Chart.js Line Chart - Legend'
                },
                labels: this.etiquetas,
                datasets: [
                  {
                    label: 'Total',
                    data: this.valores,
                    backgroundColor: 'rgba(0, 113, 206, 0.4)',
                    borderColor: 'rgb(0, 113, 206)',
                    borderWidth: 1
                  }
                ],
                }

              this.options = {
                scales: {
                  yAxes: [{
                      ticks: {
                          max: 100, // maximum value
                          min:0
                      }
                  }]
                },
              }
            }
        },
        created () {
            this.recuperaDatos();
        },
        watch: {
            filtro: {
                handler: function(val, oldVal) {
                    this.recuperaDatos(); // call it in the context of your component object
                },
                deep: true
            }
        }, 
    }
</script>

<style lang="scss" scoped>

</style>