<template>
    <div>

        <filtro-completo @aplicaFiltro="aplicaFiltro" :muestraFiltro=muestraFiltro></filtro-completo>

        <div class="card mb-4">
            <div class="card-body">
                <div class="form-check form-check-inline">
                    <input v-model="muestra" @click="cambiaMuestra(1)" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="1">
                    <label class="form-check-label" for="inlineRadio1">NPS</label>
                </div>
                <div class="form-check form-check-inline">
                    <input v-model="muestra" @click="cambiaMuestra(2)" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="2">
                    <label class="form-check-label" for="inlineRadio2">Satisfacción global</label>
                </div>
            </div>
        </div>

        <div class="col-xl-12 mt-4">
            <div class="card mb-4">
                <!-- <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Revenue Sources</h6> -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <svg class="svg-inline--fa fa-chart-area fa-w-16 me-1" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chart-area" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M500 384c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12H12c-6.6 0-12-5.4-12-12V76c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v308h436zM372.7 159.5L288 216l-85.3-113.7c-5.1-6.8-15.5-6.3-19.9 1L96 248v104h384l-89.9-187.8c-3.2-6.5-11.4-8.7-17.4-4.7z"></path></svg><!-- <i class="fas fa-chart-area me-1"></i> Font Awesome fontawesome.com -->
                    <h6 class="m-0 font-weight-bold text-primary">
                        {{ muestra == 1 ? "NPS" : "Satisfacción global" }}
                    </h6>
                    <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink" style="">
                            <!-- <div class="dropdown-header">Dropdown Header:</div> -->
                            <a class="dropdown-item" @click="cambiaMuestra(1)">NPS</a>
                            <a class="dropdown-item" @click="cambiaMuestra(2)">Satisfacción global</a>
                            <!-- <div class="dropdown-divider"></div> -->
                            <!-- <a class="dropdown-item" href="#">Something else here</a> -->
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <bar-stack-chart 
                        :chart-data="datosGrafico()" 
                        :height="150" 
                        :options="optionStack()">
                    </bar-stack-chart>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
    import BarStackChart from '../BarStackChart.js'
    export default {
        components: {
            BarStackChart
        },
        data() {
            return {
                datacollection: null,
                options: null,
                datos_graficos: null,
                dashboard: {},
                promotor: [],
                detractor: [],
                neto: [],
                neutro: [],
                labels: [],
                muestra: 1,

                muestraFiltro : {
                    viaje : true,
                    familia : true,
                    tipo : true,
                    funeraria : true,
                    necesidad : true,
                    parque : true,
                    fecha_ini : true,
                    fecha_fin : true,
                    origen_venta : true,
                    uso_producto : true,
                }

            }
        },

        methods: {
            aplicaFiltro(filtro) {
                // console.log("procesa filtros");
                this.filtro = filtro;
                this. recuperaDashboard();
            },
            cambiaMuestra(muestra){
                // console.log('por acá');
                this.muestra = muestra;
                this.recuperaDashboard();
            },
            async recuperaDashboard(){
                
                let link = "";
                if (this.muestra == 1){
                    link = "api/comparativa_parque_p1"
                }
                else {
                    link = "api/comparativa_parque_p14"
                }
                // console.log(link);
                await axios.post(link, {
                    'cod_seccion' : this.codSeccion,
                    'filtro' : this.filtro
                })
                .then((data)=>{
                    // this.datos = data.data.data;
                    // console.log(data);
                    this.promotor = data.data.data.promotor;
                    this.detractor = data.data.data.detractor;
                    this.neto = data.data.data.neto;
                    this.neutro = data.data.data.neutro;
                    this.labels = data.data.data.labels;
                    this.fillData();
                })
                // ({ data }) => (this.datos = data.data)
            },
            fillData ()
            {
                this.options = {
                    responsive: true, 
                    maintainAspectRation: true,
                    scales: {
                        xAxes: [{
                            stacked: true,
                        }],
                        yAxes: [{
                            stacked: true,
                            ticks: {
                                
                                max: 100 // maximum value
                            }
                        }]
                    },
                    hover: {
                        animationDuration: 0
                    },
                    animation: {
                        //duration : 1,
                        onComplete : function() {
                            var chartInstance = this.chart,
                            ctx = chartInstance.ctx;

                            ctx.font = Chart.helpers.fontString(
                                Chart.defaults.global.defaultFontSize, 
                                Chart.defaults.global.defaultFontStyle, 
                                Chart.defaults.global.defaultFontFamily
                            );
                            ctx.textAlign = 'center';
                            ctx.textBaseline = 'bottom';
                            ctx.fillStyle = "#000";

                            this.data.datasets.forEach(function(dataset, i) {
                                var meta = chartInstance.controller.getDatasetMeta(i);
                                meta.data.forEach(function(bar, index) {
                                    var data = dataset.data[index];
                                    if (i == 1){
                                        ctx.fillStyle = "#000";
                                        ctx.fillText(data, bar._model.x, bar._model.y - 5);
                                    }
                                    else if (i == 2){
                                        ctx.fillStyle = "#000";
                                        ctx.fillText(data, bar._model.x, bar._model.y + 15);
                                    }
                                    else {
                                        ctx.fillStyle = "0BA580";
                                        ctx.fillText(data, bar._model.x, bar._model.y - 5);
                                    }
                                    
                                });
                            });
                        }
                    },
                }


            },
            optionStack() {
                let opt = {
                    responsive: true, 
                    maintainAspectRation: true,
                    scales: {
                        xAxes: [{
                            stacked: true,
                        }],
                        yAxes: [{
                            stacked: true,
                            ticks: {
                                
                                max: 120, // maximum value
                                // min: -20 // maximum value
                            }
                        }]
                    },
                    hover: {
                        animationDuration: 0
                    },
                    animation: {
                        //duration : 1,
                        onComplete : function() {
                            var chartInstance = this.chart,
                            ctx = chartInstance.ctx;

                            ctx.font = Chart.helpers.fontString(
                                Chart.defaults.global.defaultFontSize, 
                                Chart.defaults.global.defaultFontStyle, 
                                Chart.defaults.global.defaultFontFamily
                            );
                            ctx.textAlign = 'center';
                            ctx.textBaseline = 'bottom';
                            ctx.fillStyle = "#000";

                            this.data.datasets.forEach(function(dataset, i) {
                                var meta = chartInstance.controller.getDatasetMeta(i);
                                meta.data.forEach(function(bar, index) {
                                    var data = dataset.data[index];
                                    if (i == 0){
                                        ctx.fillStyle = "#000";
                                        // ctx.font = '15px Arial';
                                        ctx.fillText(data, bar._model.x - 27, bar._model.y + 8);
                                    }
                                    else if (i == 1){
                                        ctx.fillStyle = "#000";
                                        ctx.fillText(data, bar._model.x, bar._model.y + 20);
                                        // ctx.font = '12px Arial';
                                    }
                                    else if (i == 2){
                                        ctx.fillStyle = "#000";
                                        ctx.fillText(data, bar._model.x, bar._model.y + 15);
                                        // ctx.font = '12px Arial';
                                    }
                                    else {
                                        ctx.fillStyle = "#000";
                                        ctx.fillText(data, bar._model.x, bar._model.y - 10);
                                        // ctx.font = '12px Arial';
                                    }
                                    
                                });
                            });
                        }
                    },
                }
                return opt;
            },

            datosGrafico(){
                let promotor = null;
                let detractor = null;
                let neto = null;
                let neutro = null;
                let label = null;

                neto = this.neto;
                neutro = this.neutro;
                promotor = this.promotor;
                detractor = this.detractor;
                label = this.labels;

                let xdata = {
                    labels: label,
                    datasets: [
                        {
                            label: this.muestra == 1 ? "NPS" : "Satisfacción Neta",
                            type: "line",
                            tension: 0.0,
                            borderColor: 'rgba(0, 0, 0, 0)',
                            data: neto,
                            fill: false,
                            pointRadius: 7,
                            pointBackgroundColor: 'rgba(255, 87, 51, 0.5)'
                        }, {
                            label: this.muestra == 1 ? "Detractores" : "Insatisfecho",
                            type: "bar",
                            backgroundColor: "#c00000",
                            backgroundColorHover: "#3e95cd",
                            data: detractor,
                        }, {
                            label: this.muestra == "Neutro",
                            type: "bar",
                            backgroundColor: "#D1D1CF",
                            backgroundColorHover: "#D1D1CF",
                            data: neutro,
                        }, {
                            label: this.muestra == 1 ? "Promotores" : "Satisfechos",
                            type: "bar",
                            backgroundColor: this.muestra == 1 ? "#94c13d" : "#3daadf",
                            backgroundColorHover: "#3e95cd",
                            data: promotor,
                        }
                    ]
                }
                return xdata;

            }


        },

        created () {
            this.recuperaDashboard();
        },
        
    }
</script>

<style lang="scss" scoped>

</style>