<template>
    <div>
        

      <filtro-completo @aplicaFiltro="aplicaFiltro" :muestraFiltro="muestraFiltro"></filtro-completo>

        <div class="row">
            <div class="col-xl-3 mt-2">
                <div class="card mb-4">
                    <div class="card-header">
                        <svg class="svg-inline--fa fa-chart-area fa-w-16 me-1" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chart-area" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M500 384c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12H12c-6.6 0-12-5.4-12-12V76c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v308h436zM372.7 159.5L288 216l-85.3-113.7c-5.1-6.8-15.5-6.3-19.9 1L96 248v104h384l-89.9-187.8c-3.2-6.5-11.4-8.7-17.4-4.7z"></path></svg><!-- <i class="fas fa-chart-area me-1"></i> Font Awesome fontawesome.com -->
                        Lider Total
                    </div>
                    <div class="card-body">
                        <chart-doughnut v-if="formato_total" :valor_grafico="formato_total" title="Lider Total"></chart-doughnut>
                    </div>
                    <div class="card-header">
                        <h4 class="text-center">{{ formato_total }}%</h4>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 mt-2">
                <div class="card mb-4">
                    <div class="card-header">
                        <svg class="svg-inline--fa fa-chart-area fa-w-16 me-1" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chart-area" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M500 384c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12H12c-6.6 0-12-5.4-12-12V76c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v308h436zM372.7 159.5L288 216l-85.3-113.7c-5.1-6.8-15.5-6.3-19.9 1L96 248v104h384l-89.9-187.8c-3.2-6.5-11.4-8.7-17.4-4.7z"></path></svg><!-- <i class="fas fa-chart-area me-1"></i> Font Awesome fontawesome.com -->
                        Lider
                    </div>
                    <div class="card-body">
                        <chart-doughnut v-if="formato_lider" :valor_grafico="formato_lider" title="Lider"></chart-doughnut>
                    </div>
                    <div class="card-header">
                        <h4 class="text-center">{{ formato_lider }}%</h4>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 mt-2">
                <div class="card mb-4">
                    <div class="card-header">
                        <svg class="svg-inline--fa fa-chart-area fa-w-16 me-1" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chart-area" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M500 384c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12H12c-6.6 0-12-5.4-12-12V76c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v308h436zM372.7 159.5L288 216l-85.3-113.7c-5.1-6.8-15.5-6.3-19.9 1L96 248v104h384l-89.9-187.8c-3.2-6.5-11.4-8.7-17.4-4.7z"></path></svg><!-- <i class="fas fa-chart-area me-1"></i> Font Awesome fontawesome.com -->
                        Express
                    </div>
                    <div class="card-body">
                        <chart-doughnut v-if="formato_express" :valor_grafico="formato_express" title="Express"></chart-doughnut>
                    </div>
                    <div class="card-header">
                        <h4 class="text-center">{{ formato_express }}%</h4>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 mt-2">
                <div class="card mb-4">
                    <div class="card-header">
                        <svg class="svg-inline--fa fa-chart-area fa-w-16 me-1" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chart-area" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M500 384c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12H12c-6.6 0-12-5.4-12-12V76c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v308h436zM372.7 159.5L288 216l-85.3-113.7c-5.1-6.8-15.5-6.3-19.9 1L96 248v104h384l-89.9-187.8c-3.2-6.5-11.4-8.7-17.4-4.7z"></path></svg><!-- <i class="fas fa-chart-area me-1"></i> Font Awesome fontawesome.com -->
                        SBA
                    </div>
                    <div class="card-body">
                        <chart-doughnut v-if="formato_sba" :valor_grafico="formato_sba" title="SBA"></chart-doughnut>
                    </div>
                    <div class="card-header">
                        <h4 class="text-center">{{ formato_sba }}%</h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-12 mt-4">
                <div class="card mb-4">
                    <div class="card-header">
                        <svg class="svg-inline--fa fa-chart-area fa-w-16 me-1" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chart-area" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M500 384c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12H12c-6.6 0-12-5.4-12-12V76c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v308h436zM372.7 159.5L288 216l-85.3-113.7c-5.1-6.8-15.5-6.3-19.9 1L96 248v104h384l-89.9-187.8c-3.2-6.5-11.4-8.7-17.4-4.7z"></path></svg>
                        General
                    </div>
                    <div class="card-body">
                        <grafico-dashboard :filtro="filtro" ></grafico-dashboard>
                    </div>
                </div>
            </div>
        </div>

        


        <!-- <filtro-completo></filtro-completo> -->

        

    </div>
</template>

<script>
  import FiltroCompleto from './FiltroCompleto2.vue';
  import ChartDoughnut from './Chart/ChartDoughnut.vue'
  import GraficoDashboard from './dashboard/GraficoBar.vue';


    export default {
        components: { FiltroCompleto, GraficoDashboard, ChartDoughnut },
        data(){
          return {
            datos: {},
            datosFormato: {},
            datacollection: {},
            valor: 54,
            formato_total : null,
            formato_lider : null,
            formato_express : null,
            formato_sba : null,
            filtro : {
                medicion_id: 0,
                formato_id: 0,
                sucursal_id: 0,
                seccion_id: 0,
                dimension_id: 0,
            },
            muestraFiltro : {
                medicion : true,
                formato : false,
                seccion : true,
                dimension : false,
            }
          }
        },
        mounted () {
          
        },
        methods: {
          aplicaFiltro(filtro) {
              console.log("procesa filtros");
              this.filtro = filtro;
              this. recuperaTotales();
          },
          recuperaTotales(){
                // this.datos = {};
                this.formato_total = null;
                this.formato_lider = null;
                this.formato_express = null;
                this.formato_sba = null;
                this.$Progress.start()
                axios.post("api/dashboard_total", {
                    'filtro' : this.filtro
                }) //.then(({ data }) => (this.datos = data.data));
                .then(({data})=>{
                    this.datos = data.data;
                    this.formato_total = data.data.formato_0;
                    this.formato_lider = data.data.formato_1;
                    this.formato_express = data.data.formato_2;
                    this.formato_sba = data.data.formato_3;
                });

                
                this.$Progress.finish()
            },
            
      },
      mounted () {
          this.recuperaTotales();
      },
      watch: {
          filtro: {
              handler: function(val, oldVal) {
                  this.recuperaTotales(); // call it in the context of your component object
              },
              deep: true
          }
      }

    }
</script>

<style lang="css">
.small {
  max-width: 800px;
  max-height: 500px;
  margin:  50px auto;
}
</style>
</script>

<style lang="scss" scoped>

</style>