<template>
    <div class="mb-2 card">
        <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    Filtros
                </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                    <form @submit.prevent="filtrar()" class="form-horizontal">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-3" v-if="muestraFiltro.viaje">
                                        <div class="mb-3">
                                            <label for="exampleInputEmail1" class="form-label">Viaje</label>
                                            <div>
                                                <multiselect v-model="filtro.viaje_id" :options="viajes" :multiple="true" :close-on-select="false">
                                                    <!-- <template v-if="filtro.viaje_id" slot="selection" slot-scope="{ values, search, isOpen }"><span class="multiselect__single" v-if="filtro.viaje_id.length &amp;&amp; !isOpen">{{ filtro.viaje_id.length }} opciones seleccionadas</span></template> -->
                                                </multiselect>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3" v-if="muestraFiltro.familia">
                                        <div class="mb-3">
                                            <label for="exampleInputEmail1" class="form-label">Familia de Producto</label>
                                            <div>
                                                <multiselect @input="onChange" v-model="filtro.familia_id" :options="familiaProducto" :multiple="true" :close-on-select="false">
                                                    <!-- <template v-if="filtro.familia_id" slot="selection" slot-scope="{ values, search, isOpen }"><span class="multiselect__single" v-if="filtro.familia_id.length &amp;&amp; !isOpen">{{ filtro.familia_id.length }} opciones seleccionadas</span></template> -->
                                                </multiselect>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-3" v-if="muestraFiltro.tipo">
                                        <div class="mb-3">
                                            <label for="exampleInputEmail1" class="form-label">Tipo de Producto</label>
                                            <div>
                                                <multiselect v-model="filtro.tipo_producto_id" :disabled="muestraTipoProducto" :options="tipo_productos" :multiple="true" :close-on-select="false">
                                                    <!-- <template v-if="filtro.tipo_producto_id" slot="selection" slot-scope="{ values, search, isOpen }"><span class="multiselect__single" v-if="filtro.tipo_producto_id.length &amp;&amp; !isOpen">{{ filtro.tipo_producto_id.length }} opciones seleccionadas</span></template> -->
                                                </multiselect>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-3" v-if="muestraFiltro.funeraria">
                                        <div class="mb-3">
                                            <label for="exampleInputEmail1" class="form-label">Funeraria</label>
                                            <div>
                                                <multiselect v-model="filtro.funeraria_id" :options="funerarias" :multiple="false" :close-on-select="true">
                                                    <!-- <template v-if="filtro.funeraria_id" slot="selection" slot-scope="{ values, search, isOpen }"><span class="multiselect__single" v-if="filtro.funeraria_id.length &amp;&amp; !isOpen">{{ filtro.funeraria_id.length }} opciones seleccionadas</span></template> -->
                                                </multiselect>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-3" v-if="muestraFiltro.necesidad">
                                        <div class="mb-3">
                                            <label for="exampleInputEmail1" class="form-label">Necesidad</label>
                                            <div>
                                                <multiselect v-model="filtro.necesidad_id" :options="necesidades" :multiple="true" :close-on-select="false">
                                                    <!-- <template v-if="filtro.necesidad_id" slot="selection" slot-scope="{ values, search, isOpen }"><span class="multiselect__single" v-if="filtro.necesidad_id.length &amp;&amp; !isOpen">{{ filtro.necesidad_id.length }} opciones seleccionadas</span></template> -->
                                                </multiselect>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-3" v-if="muestraFiltro.parque">
                                        <div class="mb-3">
                                            <label for="exampleInputEmail1" class="form-label">Parque</label>
                                            <div>
                                                <multiselect v-model="filtro.parque_id" :options="parques" :multiple="true" :close-on-select="false">
                                                    <!-- <template v-if="filtro.parque_id" slot="selection" slot-scope="{ values, search, isOpen }"><span class="multiselect__single" v-if="filtro.parque_id.length &amp;&amp; !isOpen">{{ filtro.parque_id.length }} opciones seleccionadas</span></template> -->
                                                </multiselect>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-3" v-if="muestraFiltro.fecha_ini">
                                        <div class="mb-3">
                                            <label for="exampleInputEmail1" class="form-label">Fecha Inicio</label>
                                            <div>
                                                <datepicker :use-utc="true" input-class="form-control" v-model="filtro.fecha_ini" name="fecha_ini" :language="es" :monday-first="true"></datepicker>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-3" v-if="muestraFiltro.fecha_fin">
                                        <div class="mb-3">
                                            <label for="exampleInputEmail1" class="form-label">Fecha Fin</label>
                                            <div>
                                                <datepicker :use-utc="true" input-class="form-control" v-model="filtro.fecha_fin" name="fecha_fin" :language="es" :monday-first="true"></datepicker>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-3" v-if="muestraFiltro.origen_venta">
                                        <div class="mb-3">
                                            <label for="exampleInputEmail1" class="form-label">Origen Venta</label>
                                            <div>
                                                <multiselect v-model="filtro.origen_venta_id" :options="origen_ventas" :multiple="true" :close-on-select="false">
                                                    <!-- <template v-if="filtro.origen_venta_id" slot="selection" slot-scope="{ values, search, isOpen }"><span class="multiselect__single" v-if="filtro.origen_venta_id.length &amp;&amp; !isOpen">{{ filtro.origen_venta_id.length }} opciones seleccionadas</span></template> -->
                                                </multiselect>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-3" v-if="muestraFiltro.uso_producto">
                                        <div class="mb-3">
                                            <label for="exampleInputEmail1" class="form-label">Uso del Producto</label>
                                            <div>
                                                <multiselect v-model="filtro.uso_producto_id" :options="uso_productos" :multiple="true" :close-on-select="false">
                                                    <!-- <template v-if="filtro.uso_producto_id" slot="selection" slot-scope="{ values, search, isOpen }"><span class="multiselect__single" v-if="filtro.uso_producto_id.length &amp;&amp; !isOpen">{{ filtro.uso_producto_id.length }} opciones seleccionadas</span></template> -->
                                                </multiselect>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label>Evaluación Satisfacción global</label>
                                            <multiselect v-model="filtro.satisfaccion" :options="satisfacciones" :multiple="true" :close-on-select="false">
                                            </multiselect>
                                        </div>
                                    </div>

                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label>Alerta enviadas</label>
                                            <multiselect v-model="filtro.alerta" :options="SiNo" :multiple="false" :close-on-select="true">
                                            </multiselect>
                                        </div>
                                    </div>



                                </div>

                                

                                <!-- <pre class="language-json"><code>{{ value  }}</code></pre> -->

                                <!-- <div class="form-group row">
                                    <label v-if="muestraFiltro.viajes" for="inputEmail3" class="col-md-1 col-form-label">Viaje</label>
                                    <div v-if="muestraFiltro.viajes" class="col-md-2">
                                        <select class="form-control" v-model="filtro.viaje_id">
                                            <option value=0>Todas</option>
                                            <option 
                                                v-for="(cat,index) in viajes" :key="index"
                                                :value="index"
                                                :selected="index == filtro.viaje_id">{{ cat }}</option>
                                        </select>
                                    </div>

                                    
                                </div> -->
                                
                            </div>
                            <!-- /.card-body -->
                            <div class="mt-4 card-footer">
                                <button type="submit" class="btn btn-primary">Filtrar</button>
                                <button type="button" @click="limpiaFiltros()" class="float-right btn btn-default">Limpiar Filtros</button>
                            </div>
                            <!-- /.card-footer -->
                        </form>

                </div>
            </div>

        </div>

    </div>
</template>



<script>
    import Multiselect from 'vue-multiselect'
    import Datepicker from 'vuejs-datepicker';
    import {es} from 'vuejs-datepicker/dist/locale'
    
    export default {
        components: { Multiselect, Datepicker },
        data() {
            return {
                satisfacciones: [1, 2, 3, 4, 5, 6, 7],
                SiNo: ['Todas', 'Si', 'No'],
                viajes: [],
                familiaProducto: [],
                funerarias: ['PARQUE DEL SENDERO', 'IVAN MARTINEZ', 'OTRAS'],
                parques : [],
                necesidades : [],
                tipo_productos : [],
                sucursals: [],
                seccions: [],
                dimensions: [],
                origen_ventas: [],
                uso_productos: [],
                filtro : {
                    viaje_id: [],
                    familia_id: [],
                    tipo_producto_id: [],
                    funeraria_id: [],
                    necesidad_id: [],
                    parque_id: [],
                    fecha_ini: null,
                    fecha_fin: null,
                    origen_venta_id: [],
                    uso_producto_id: [],
                    satisfaccion: [],
                    alerta: 'No',
                },

                value: null,
                es: es
                
            }
        },
        props: ['muestraFiltro'], 
        methods: {
            loadViajes(){
                axios.get("api/viajes/list").then(({ data }) => (this.viajes = data.data));
            },
            loadSubProductos(){
                axios.post("api/sub_productos/list", {'familia': this.filtro.familia_id}).then(({ data }) => (this.tipo_productos = data.data));
            },
            loadNecesidades(){
                axios.get("api/necesidades/list").then(({ data }) => (this.necesidades = data.data));
            },
            loadParques(){
                axios.get("api/parques/list").then(({ data }) => (this.parques = data.data));
            },
            loadFamiliaProductios(){
                axios.get("api/familia_productos/list").then(({ data }) => (this.familiaProducto = data.data));
            },
            loadOrigenVenta(){
                axios.get("api/origen_venta/list").then(({ data }) => (this.origen_ventas = data.data));
            },
            loadUsoProducto(){
                axios.get("api/uso_producto/list").then(({ data }) => (this.uso_productos = data.data));
            },

            limpiaFiltros(){
                this.filtro.viaje_id = [];
                this.filtro.familia_id = [];
                this.filtro.tipo_producto_id = [];
                this.filtro.funeraria_id = [];
                this.filtro.necesidad_id = [];
                this.filtro.parque_id = [];
                this.filtro.fecha_ini = null;
                this.filtro.fecha_fin = null;
                this.filtro.origen_venta_id = [];
                this.filtro.uso_producto_id = [];
                this.filtro.satisfaccion = [];
                this.filtro.alerta = [];

                this.filtrar();
                
            },
            filtrar(){
                this.$emit("aplicaFiltro", this.filtro)//<-- Justo aquí
            },
            onChange (value) {
                // console.log(value);
                this.loadSubProductos();
                // this.value = value
                // if (value.indexOf('Reset me!') !== -1) this.value = []
            },
            // onSelect (option) {
            //     // console.log(option);
                
            //     // if (option === 'Disable me!') this.isDisabled = true
            // },
            

        },

        computed: {
            muestraTipoProducto() {
                if (this.filtro.familia_id.length == 0){
                    this.filtro.tipo_producto_id = [];
                    return true;
                }
                else {
                    return false;
                }
            }
        },

        created() {
            this.$Progress.start();
            this.loadViajes();
            this.loadFamiliaProductios();
            // this.loadSubProductos();
            this.loadNecesidades();
            this.loadParques();
            this.loadOrigenVenta();
            this.loadUsoProducto();

            this.filtrar();

            this.$Progress.finish();
        },

        // 
        // watch: {
        //     filtro: {
        //         handler: function(val, oldVal) {
        //         //   console.log(val);
        //             this.loadSubProductos(); // call it in the context of your component object
        //         },
        //         deep: true
        //     }
        // }
    }

    
</script>


<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>

<style lang="scss" scoped>

</style>