<template>
  <div class="small">
    <!-- <h4>Reportes del Venta Junio</h4> -->
    <line-chart :chart-data="datacollection" :height="100"></line-chart>
  </div>
</template>

<script>

import LineChart from './LineChart.js'

export default {
  components: {
    LineChart
  },
  data(){
    return {
      datacollection: {}
    }
      
  },
  mounted () {
    this.fillData()
  },
  methods: {

    fillData ()
    {
      this.datacollection = {
        labels: ['Lunes','Martes','Miercoles','Jueves','Viernes', 'Sabado' , 'Domingo'],
        datasets: [
          {
            label: 'Ventas',
            // backgroundColor: '#FF0066',
            borderColor: '#FF0066',
            fill: false,
            tension: 0.1,
            data: [ 20, 40, 50, 20, 50, 40]
          },
        ]
      }
    }
  }
}
</script>

<style lang="css">
.small {
  max-width: 800px;
  max-height: 500px;
  margin:  50px auto;
}
</style>