<template>
    <div>
        <filtro-completo @aplicaFiltro="aplicaFiltro" :muestraFiltro=muestraFiltro></filtro-completo>

        <div class="card mb-2 mt-5">
            <bar-stack-chart 
                :chart-data="datosGrafico()" 
                :height="150" 
                :options="optionStack()">
            </bar-stack-chart>
        </div>


        <div class="card mb-2 mt-5">
            <line-chart :chart-data="datacollectionP14" :height="100" :options="option()"></line-chart>
        </div>
        
    </div>
</template>

<script>
    import LineChart from '../LineChart.js'
    import BarStackChart from '../BarStackChart.js'

    export default {
        components: {
            LineChart, BarStackChart
        },
        data () {
            return {
                datacollection: null,
                datacollectionP14: null,
                options: null,
                nps: [],
                p14Aco: [],
                p14Rec: [],
                p14Ven: [],
                p14Vis: [],
                p14Pag: [],
                p14Labels: [],
                muestraFiltro : {
                    viaje : true,
                    familia : true,
                    tipo : true,
                    funeraria : true,
                    necesidad : true,
                    parque : true,
                    fecha_ini : false,
                    fecha_fin : false,
                    origen_venta : true,
                    uso_producto : true,
                }
            }
        },
        methods: {
            aplicaFiltro(filtro) {
                this.filtro = filtro;
                this. recuperaEvolutivo();
                this. recuperaEvolutivoP14();
            },
            async recuperaEvolutivo(){
                await axios.post("api/evolutivo_nps", {
                    'filtro' : this.filtro
                })
                .then((data)=>{
                    this.nps = data.data.data;
                    this.fillData();
                    
                })
            },

            async recuperaEvolutivoP14(){
                await axios.post("api/evolutivo_p14", {
                    'filtro' : this.filtro
                })
                .then((data)=>{
                    this.p14Aco = data.data.data.neto.Aco;
                    this.p14Rec = data.data.data.neto.Rec;
                    this.p14Ven = data.data.data.neto.Ven;
                    this.p14Vis = data.data.data.neto.Vis;
                    this.p14Pag = data.data.data.neto.Pag;
                    this.fillDataP14();
                })
            },

            

            fillData () {
                this.datacollection = {
                    labels: this.nps.labels,
                    datasets: [
                        {
                            label: 'NPS',
                            // backgroundColor: '#f87979',
                            borderColor: "#3cba9f",
                            pointBackgroundColor: "#3cba9f",
                            fill: false,
                            tension: 0,
                            data: this.nps.neto,
                        }
                    ],
                }
            },

            fillDataP14 () {
                // console.log(this.p14);
                this.datacollectionP14 = {
                    labels: this.nps.labels,
                    datasets: [
                        {
                            label: 'Acompañamiento',
                            // backgroundColor: '#f87979',
                            borderColor: "#94c13d",
                            pointBackgroundColor: "#94c13d",
                            fill: false,
                            tension: 0,
                            data: this.p14Aco ? this.p14Aco : null,
                        },
                        {
                            label: 'Reclamos',
                            // backgroundColor: '#f87979',
                            borderColor: "#c00000",
                            pointBackgroundColor: "#c00000",
                            fill: false,
                            tension: 0,
                            data: this.p14Rec ? this.p14Rec : null,
                        },
                        {
                            label: 'Ventas',
                            // backgroundColor: '#f87979',
                            borderColor: "#3daadf",
                            pointBackgroundColor: "#3daadf",
                            fill: false,
                            tension: 0,
                            data: this.p14Ven ? this.p14Ven : null,
                        },
                        {
                            label: 'Visitas',
                            // backgroundColor: '#f87979',
                            borderColor: "#ed7d31",
                            pointBackgroundColor: "#ed7d31",
                            fill: false,
                            tension: 0,
                            data: this.p14Vis ? this.p14Vis : null,
                        },
                        {
                            label: 'Pago',
                            // backgroundColor: '#f87979',
                            borderColor: "#FFBF00",
                            pointBackgroundColor: "#FFBF00",
                            fill: false,
                            tension: 0,
                            data: this.p14Pag ? this.p14Pag : null,
                        },
                        
                    ],
                }
            },


            optionStack() {
                let opt = {
                    legend: {
                        labels: {
                            // This more specific font property overrides the global property
                            fontColor: 'black',
                            // defaultFontSize: 24,
                        }
                    },
                    responsive: true, 
                    maintainAspectRation: true,
                    scales: {
                        xAxes: [{
                            stacked: true,
                        }],
                        yAxes: [{
                            stacked: true,
                            ticks: {
                                max: 120, // maximum value
                            }
                        }]
                    },
                    hover: {
                        animationDuration: 0
                    },
                    animation: {
                        //duration : 1,
                        onComplete : function() {
                            var chartInstance = this.chart,
                            ctx = chartInstance.ctx;

                            ctx.font = Chart.helpers.fontString(
                                Chart.defaults.global.defaultFontSize, 
                                Chart.defaults.global.defaultFontStyle, 
                                Chart.defaults.global.defaultFontFamily
                            );
                            ctx.textAlign = 'center';
                            ctx.textBaseline = 'bottom';
                            ctx.fillStyle = "#000";

                            this.data.datasets.forEach(function(dataset, i) {
                                var meta = chartInstance.controller.getDatasetMeta(i);
                                meta.data.forEach(function(bar, index) {
                                    var data = dataset.data[index];
                                    if (i == 0){
                                        ctx.pointStyle = 'triangle';
                                        ctx.fillStyle = "#000";
                                        // ctx.font = '15px Arial';
                                        ctx.fillText(data, bar._model.x - 27, bar._model.y + 8);
                                    }
                                    else if (i == 1){
                                        ctx.fillStyle = "#000";
                                        ctx.fillText(data, bar._model.x, bar._model.y + 20);
                                        // ctx.font = '12px Arial';
                                    }
                                    else if (i == 2){
                                        ctx.fillStyle = "#000";
                                        ctx.fillText(data, bar._model.x, bar._model.y + 15);
                                        // ctx.font = '12px Arial';
                                    }
                                    else if (i == 3){
                                        ctx.fillStyle = "#000";
                                        ctx.fillText(data, bar._model.x, bar._model.y - 10);
                                        // ctx.font = '12px Arial';
                                    }
                                    else {
                                        // ctx.style.backgroundColor = '#FFF';
                                        ctx.pointStyle = 'triangle';
                                        ctx.fillStyle = "#000";
                                        // ctx.font = '12px Arial';
                                        ctx.fillText(data, bar._model.x - 27, bar._model.y + 8);
                                    }
                                });
                            });
                        }
                    },
                                        
                }
                return opt;
            },

            datosGrafico(){
                let promotor = null;
                let detractor = null;
                let neto = null;
                let neutro = null;
                let label = null;

                neto = this.nps.neto;
                neutro = this.nps.neutro;
                promotor = this.nps.promotor;
                detractor = this.nps.detractor;
                label = this.nps.labels;

                let xdata = {
                    labels: label,
                    datasets: [
                        {
                            label: "NPS",
                            type: "line",
                            tension: 0.0,
                            borderColor: 'rgba(246, 252, 65, 0.7)',
                            data: neto,
                            fill: false,
                            // hidden: true,
                            color: 'rgba((246, 252, 65, 0.7)',
                            pointRadius: 5,
                            pointBackgroundColor: 'rgba(246, 252, 65, 0.7)'

                        }, {
                            label: "% Detractores",
                            type: "bar",
                            backgroundColor: "rgba(192, 0, 0, 0.8)",
                            backgroundColorHover: "#3e95cd",
                            data: detractor,
                        }, {
                            label: "% Neutro",
                            type: "bar",
                            backgroundColor: "#D1D1CF",
                            backgroundColorHover: "#D1D1CF",
                            data: neutro,
                        }, {
                            label: "% Promotores",
                            type: "bar",
                            backgroundColor: "#94c13d",
                            backgroundColorHover: "#3e95cd",
                            data: promotor,
                        }
                    ]
                }
                return xdata;

            },

            option() {
                let opt = {
                    legend: {
                        labels: {
                            // This more specific font property overrides the global property
                            fontColor: 'black',
                            // defaultFontSize: 24,
                        }
                    },
                    responsive: true, 
                    maintainAspectRation: true,
                    scales: {
                        xAxes: [{
                        }],
                        yAxes: [{
                            ticks: {
                                max: 120, // maximum value
                                min: -120,
                            }
                        }]
                    },
                    hover: {
                        animationDuration: 0
                    },
                    animation: {
                        //duration : 1,
                        onComplete : function() {
                            var chartInstance = this.chart,
                            ctx = chartInstance.ctx;

                            this.data.datasets.forEach(function(dataset, i) {
                                var meta = chartInstance.controller.getDatasetMeta(i);
                                meta.data.forEach(function(bar, index) {
                                    var data = dataset.data[index];
                                    ctx.pointStyle = 'triangle';
                                    // ctx.fillStyle = "#000";
                                    // ctx.fillText(data, bar._model.x - 15, bar._model.y + 15);
                                    // console.log(data);
                                    
                                });
                            });
                        }
                    },
                                        
                }
                return opt;
            },
        },
        created () {
            this.recuperaEvolutivo();
            this.recuperaEvolutivoP14();
        },
    }
</script>

<style>

</style>