<template>
    <div>
        <Doughnut
            ref="skills_chart"
            :chart-data="datacollection"
            :options="options"
            :height="256">
        </Doughnut>
    </div>
</template>

<script>
    import Doughnut from '../Doughnut';
    export default {
        props: ['valor_grafico', 'title'], 
        components: { Doughnut },
        data() {
            return {
                valor: this.valor_grafico
            }
        },
        methods: {
            fillData ()
            {
                // console.log(this.datos);
                this.datacollection = {
                    title: {
                            display: false,
                            text: 'Chart.js Line Chart - Legend'
                        },
                    labels: ['Si', 'No'],
                    datasets: [
                        {
                            backgroundColor: ['#00b050', '#53585f'],
                            data: this.valor
                        }
                    ]
                }

                this.options = {
                    responsive: true, 
                    maintainAspectRatio: false, 
                    animation: {
                        animateRotate: true
                    },
                    legend : {
                        display : false
                    }
                }
                // console.log(this.valor_grafico + '*');
            }
        },
        watch: {
            valor_grafico() {
                // console.log(this.valor_grafico + '*');
                this.valor =  this.valor_grafico
                this.fillData ();
            }
        },
        created () {
            this.fillData ();
        },        
    }
</script>

<style lang="scss" scoped>

</style>