<template>
    <div>

        <!-- Filtro -->
        <div class="mb-2 card">
            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        <i class="fa-solid fa-gear"></i>
                        Personalizar la descarga
                    </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                        <form @submit.prevent="" class="form-horizontal">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="mb-3">
                                            <label for="exampleInputEmail1" class="form-label">Meses</label>
                                            <div>
                                                <multiselect v-model="filtro.mediciones" deselect-label="Can't remove this value" track-by="fecha_texto" label="fecha_texto" :options="mediciones" :close-on-select="false" :multiple="true" :searchable="false" :allow-empty="true">
                                                    <template slot="singleLabel" slot-scope="{ mediciones }">
                                                        {{ mediciones.fecha_texto }}
                                                    </template>
                                                </multiselect>
                                            </div>
                                        </div>
                                    </div>




                                    <!-- <div class="col-md-3">
                                        <div class="mb-3">
                                            <label for="exampleInputEmail1" class="form-label">Fecha Inicio</label>
                                            <div>
                                                <datepicker :use-utc="true" input-class="form-control" v-model="filtro.fecha_ini" name="fecha_ini" :language="es" :monday-first="true"></datepicker>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="mb-3">
                                            <label for="exampleInputEmail1" class="form-label">Fecha Fin</label>
                                            <div>
                                                <datepicker :use-utc="true" input-class="form-control" v-model="filtro.fecha_fin" name="fecha_fin" :language="es" :monday-first="true"></datepicker>
                                            </div>
                                        </div>
                                    </div> -->

                                    <div class="col-md-4">
                                        <div class="mb-3">
                                            <label for="exampleInputEmail1" class="form-label">Viaje</label>
                                            <div>
                                                <multiselect v-model="filtro.viajes" :options="viajes" :multiple="false" :close-on-select="true">
                                                </multiselect>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                
                            </div>
                            <div class="mt-4 card-footer">
                                <!-- <button :disabled="activaDescargaFiltro" type="submit" class="btn btn-primary">Descargar datos</button> -->
                                <boton-descarga-mes :filtro="filtro"></boton-descarga-mes>
                                <!-- <button type="button" @click="limpiaFiltros()" class="float-right btn btn-success">Limpiar Selección</button> -->
                            </div>
                        </form>

                    </div>
                </div>

            </div>
        </div>

        <div v-for="medicion in mediciones" :key="medicion.fecha_numero" class="row">
            <div class="m-2 col-md card" style="width: 18rem;">
                <div class="text-center card-body">
                    <i class="mt-2 fas fa-database fa-4x text-primary"></i>
                </div>
                <div class="card-body">
                    <h5 class="text-center card-title text-primary">Acompañamiento</h5>
                    <h6 class="text-center card-title text-primary">{{ medicion.fecha_texto }}</h6>
                    <div class="text-center">
                        <boton-descarga :meses="medicion.fecha_numero" :viaje="1"></boton-descarga>
                    </div>
                </div>
            </div>

            <div class="m-2 col-md card" style="width: 18rem;">
                <div class="text-center card-body">
                    <i class="mt-2 fas fa-database fa-4x text-primary"></i>
                </div>
                <div class="card-body">
                    <h5 class="text-center card-title text-primary">Reclamos</h5>
                    <h6 class="text-center card-title text-primary">{{ medicion.fecha_texto }}</h6>
                    <div class="text-center">
                        <boton-descarga :meses="medicion.fecha_numero" :viaje="2"></boton-descarga>
                    </div>
                </div>
            </div>

            <div class="m-2 col-md card" style="width: 18rem;">
                <div class="text-center card-body">
                    <i class="mt-2 fas fa-database fa-4x text-primary"></i>
                </div>
                <div class="card-body">
                    <h5 class="text-center card-title text-primary">Ventas</h5>
                    <h6 class="text-center card-title text-primary">{{ medicion.fecha_texto }}</h6>
                    <div class="text-center">
                        <boton-descarga :meses="medicion.fecha_numero" viaje="3"></boton-descarga>
                    </div>
                </div>
            </div>

            <div class="m-2 col-md card" style="width: 18rem;">
                <div class="text-center card-body">
                    <i class="mt-2 fas fa-database fa-4x text-primary"></i>
                </div>
                <div class="card-body">
                    <h5 class="text-center card-title text-primary">Visita y Pago</h5>
                    <h6 class="text-center card-title text-primary">{{ medicion.fecha_texto }}</h6>
                    <div class="text-center">
                        <boton-descarga :meses="medicion.fecha_numero" viaje="4"></boton-descarga>
                    </div>
                </div>
            </div>
        </div>


    </div>
</template>

<script>

    import BotonDescarga from "./BotonDescarga.vue"
    import BotonDescargaMes from "./BotonDescargaMes.vue"

    import Multiselect from 'vue-multiselect'
    import Datepicker from 'vuejs-datepicker';
    import {es} from 'vuejs-datepicker/dist/locale';

    

    export default {
        components: { Multiselect, Datepicker, BotonDescarga, BotonDescargaMes },
        data() {
            return {
                baseDeDatos: [],
                mediciones: [],
                viajes: ['Acompañamiento', 'Reclamos', 'Ventas', 'Visitas y Pagos'],
                es: es,
                filtro :{
                    mediciones: null,
                    viajes: null,
                    fecha_ini: null,
                    fecha_fin: null,
                },
            }
        },

        computed: {
            activaDescargaFiltro() {
                return !this.filtro.mediciones || !this.filtro.viajes 
            }
        },

        methods: {
            getMediciones() {
                axios.get("api/mediciones").then(({ data }) => (this.mediciones = data.data));
            },
            async fetchData(fecha, estudio){
                console.log(fecha, estudio);
                const response = await axios.post('api/descargas', { 
                    'fecha' : this.filtro.mediciones,
                    'estudio' : this.filtro.viajes
                });
                return response.data.data;
            },

            descargaMeses() {
                axios.post("api/descargas_meses", {
                        'filtro' : this.filtro
                }).then((result) => {
                    // this.baseDeDatos = result.data.data;
                    return result.data.data;
                });
            },
            
            limpiaFiltros(){
                this.baseDeDatos = 33;
                this.filtro.mediciones = null;
                this.filtro.viajes = null;
                this.filtro.fecha_ini = null;
                this.filtro.fecha_fin = null;
            },
            marcaFiltro(fecha, estudio){
                this.filtro.mediciones = fecha;
                this.filtro.viajes = estudio;
            }
        },

        created () {
            this.getMediciones();
        },

    }
</script>

<style lang="scss" scoped>

</style>