<template>
    <div>

        <downloadexcel
            class = "btn btn-success bnt-sm btn-block"
            :fetch = "fetchData"
            worksheet = "My Worksheet"
            :name    = "nombreXls">
            Descargar
        </downloadexcel>


    </div>
</template>

<script>

    import downloadexcel from "vue-json-excel";
    import moment from 'moment';


    export default {
        props: ['meses', 'viaje'],
        components: { downloadexcel },
        data() {
            return {
                nombreViaje: ""
            }
        },
        computed: {
            nombreXls() {
                return "sendero_" + this.nombreViaje + "_" + moment().format('DD-MM-YYYY_hhmmss') + ".xls";  
            },
        },
        methods: {
            
            async fetchData(){
                const response = await axios.post('api/descargas', {
                    'fecha' : this.meses,
                    'estudio' : this.viaje
                });
                return response.data.data;
            }, 

            // async descargaMes() {
                
            //     await axios.post("api/descargas", {
            //             'fecha' : this.meses,
            //             'estudio' : this.viaje
            //     }).then((result) => {
            //         console.log(result.data.data);
            //         return result.data.data;
            //     });
            // },
        },
        created () {
            if (this.viaje == '1'){
                this.nombreViaje = "acompañamiento";
            }
            else if (this.viaje == 2){
                this.nombreViaje = "reclamos";
            }
            else if (this.viaje == 3){
                this.nombreViaje = "ventas";
            }
            else if (this.viaje == 4){
                this.nombreViaje = "visitas_y_pagos";
            };
        },
    }
</script>

<style lang="scss" scoped>

</style>