<template>
    <div>

        <downloadexcel
            :disabled="activaDescargaFiltro"
            class = "btn btn-success bnt-sm btn-block"
            :fetch = "fetchData"
            worksheet = "My Worksheet"
            :name    = "nombreXls">
            Descargar
        </downloadexcel>


    </div>
</template>

<script>

    import downloadexcel from "vue-json-excel";
    import moment from 'moment';


    export default {
        props: ['filtro'],
        components: { downloadexcel },
        data() {
            return {
                nombreViaje: ""
            }
        },
        computed: {
            nombreXls() {
                // return "sendero_" + this.filtro.viajes.replace(' ', '_').toLowerCase() + "_" + moment().format('DD-MM-YYYY_hhmmss') + ".xls";  
                return "sendero_" + this.filtro.viajes + "_" + moment().format('DD-MM-YYYY_hhmmss') + ".xls";  
            },
            activaDescargaFiltro() {
                return !this.filtro.mediciones || !this.filtro.viajes 
            }
        },
        methods: {
            
            async fetchData(){
                const response = await axios.post('api/descargas_meses', {
                    'filtro' : this.filtro
                });
                console.log(response);
                return response.data.data;
            }, 

            async descargaMes() {
                
                await axios.post("api/descargas_meses", {
                    'filtro' : this.filtro
                }).then((result) => {
                    return result.data.data;
                });
            },
        },
        created () {
            if (this.viaje == '1'){
                this.nombreViaje = "acompañamiento";
            }
            else if (this.viaje == 2){
                this.nombreViaje = "reclamos";
            }
            else if (this.viaje == 3){
                this.nombreViaje = "ventas";
            }
            else if (this.viaje == 4){
                this.nombreViaje = "visitas_pagos";
            };
        },
    }
</script>

<style lang="scss" scoped>

</style>