<template>
    <div>

        <div v-if="$gate.isAdmin()">

            <div class="row">
                <div class="col-md-3 mt-4">
                    <select @change="recuperaDashboard()" v-model="mes" class="form-select" aria-label="Default select example">
                        <option value="7">Julio 21</option>
                        <option value="8">Agosto 21</option>
                        <option value="9">Septiembre 21</option>
                        <option value="10">Octubre 21</option>
                        <option value="11">Noviembre 21</option>
                        <option value="12">Diciembre 21</option>
                    </select>

                </div>
            </div>

            <div class="row">
                <div class="col-md-6 mt-4">
                    <table class="table table-bordered border-primary">
                        <thead>
                            <tr class="text-center">
                                <th rowspan="3"></th>
                                <th colspan="2">NI</th>
                                <th colspan="2">NF</th>
                                <th rowspan="2" >Total</th>
                            </tr>
                            <tr class="text-center">
                                <th>Sepultura</th>
                                <th>Cremación</th>
                                <th>Sepultura</th>
                                <th>Cremación</th>
                            </tr>
                            <tr class="text-center">
                                <th>Logrado</th>
                                <th>Logrado</th>
                                <th>Logrado</th>
                                <th>Logrado</th>
                                <th>Téorico</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="text-center" v-for="dato in datos" :key="dato.nom_estudio">
                                <td v-text="dato.nom_estudio"></td>
                                <td v-text="dato.NI_SEP"></td>
                                <td v-text="dato.NI_CRE"></td>
                                <td v-text="dato.NF_SEP"></td>
                                <td v-text="dato.NF_CRE"></td>
                                <td v-text="dato.TOTAL"></td>
                            </tr>

                            <tr class="text-center">
                                <td>Total</td>
                                <td v-text="total.NI_SEP"></td>
                                <td v-text="total.NI_CRE"></td>
                                <td v-text="total.NF_SEP"></td>
                                <td v-text="total.NF_CRE"></td>
                                <td v-text="total.TOTAL"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
        <div v-else>
            <not-found></not-found>
        </div>
        
    </div>
</template>

<script>
    export default {
        data() {
            return {
                datos: {},
                total: {},
                mes: 12,

            }
        },
        methods: {
            async recuperaDashboard(){
                await axios.post("api/resumen_cawi", {
                    'mes' : this.mes
                })
                .then((data)=>{
                    // this.datos = data.data.data;
                    // console.log(data);
                    this.datos = data.data.data.datos;
                    this.total = data.data.data.total;
                })
                // ({ data }) => (this.datos = data.data)
            },
        },
        created () {
            this.recuperaDashboard();
        },
    }
</script>

<style lang="scss" scoped>

</style>