<template>
    <div>
        <div v-if="$gate.isAdminOrCodificador()">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Filtro </h5>
                </div>
                <div class="card-body">
                    <div class="form-group row">
                        
                        <!-- <label for="inputEmail3" class="col-sm-1 col-form-label">Tipo</label> -->
                        <div class="col-sm-6">
                            <select v-model="filter.pregunta" @change="getLibroCodigo()" name="type" id="type" class="form-control">
                                <option :value="pregunta.id" v-for="pregunta in preguntas" :key="pregunta.id">{{ pregunta.id }}  {{ pregunta.texto }}</option>
                            </select>
                        </div>
                        <!-- <label for="inputEmail3" class="col-sm-1 col-form-label">Estudio</label> -->
                        <div class="col-sm-2">
                            <select v-model="filter.estudio" name="type" id="type" class="form-control">
                                <option value="">Todos</option>
                                <!-- <option :value="estudio.id" v-for="estudio in estudios" :key="estudio.id">{{ estudio.nom_estudio }}</option> -->
                                <option value="Acompañamiento">Acompañamiento</option>
                                <option value="Reclamos">Reclamos</option>
                                <option value="Ventas">Ventas</option>
                                <option value="Pago">Visita y Pago</option>
                            </select>
                        </div>

                        <div class="col-sm-2">
                            <select v-model="filter.estado" name="type" id="type" class="form-control">
                                <option value="1">Por Codificar</option>
                                <option value="2">Codificadas</option>
                            </select>
                        </div>

                        <div class="col-sm-2">
                            <button type="button" @click="getResults()" class="btn btn-sm btn-primary btn-block">Filtrar</button>
                        </div>
                    </div>

                </div>
            </div>

            <div class="mt-4 mb-4 col-xl-12 card">
                <!-- <div class="card-header">
                    <div class="card-tools d-flex">
                        <h5 class="card-title">Preguntas </h5>
                    </div>
                </div> -->
                <div class="p-0 card-body">
                    <!-- Billing history table-->
                    <div class="table-responsive table-billing-history">
                        <table class="table mb-0">
                            <thead>
                                <tr>
                                    <th class="border-gray-200" scope="col">ID</th>
                                    <th class="border-gray-200" scope="col">Fecha Eval</th>
                                    <th class="border-gray-200" scope="col">Estudio</th>
                                    <th class="border-gray-200" scope="col">Registro</th>
                                    <th class="border-gray-200" scope="col">token</th>
                                    <th class="border-gray-200" scope="col">Respuesta</th>
                                    <th class="border-gray-200" scope="col">Codigo</th>
                                    <th class="border-gray-200" scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="dato in datos.data" :key="dato.id">
                                    <td>{{ dato.id }}</td>
                                    <td>{{ dato.dato_consolidado.fecha_medicion | myDateShort }}</td>
                                    <td >{{ dato.estudio.nom_estudio }}</td>
                                    <td >{{ dato.registro }}</td>
                                    <td >{{ dato.token }}</td>
                                    <td >{{ dato['col_' + filter.pregunta] && dato['col_' + filter.pregunta].length > 40 ? dato['col_' + filter.pregunta].substring(0, 40) + '...'  : dato['col_' + filter.pregunta] }}</td>
                                    <td>
                                        <span v-for="codigo in dato.respuesta_abierta_codificadas" :key="codigo.id" class="m-1 badge bg-success">
                                            {{ codigo.libro_codigo_id }}
                                        </span>
                                    </td>


                                    <!-- <td v-if="filter.pregunta==1">{{ dato.col_1 }}</td>
                                    <td v-if="filter.pregunta==2">{{ dato.col_2 }}</td>
                                    <td v-if="filter.pregunta==3">{{ dato.col_3 }}</td>
                                    <td v-if="filter.pregunta==4">{{ dato.col_4 }}</td>
                                    <td v-if="filter.pregunta==5">{{ dato.col_5 }}</td> -->
                                    
                                    <td>
                                        <button v-if="dato.respuesta_abierta_codificadas.length > 0" type="button" class="btn btn-primary btn-sm"  href="#" @click="codifica(true, dato)">
                                            <i class="fa fa-edit green"></i> Editar 
                                        </button>
                                        <button v-else type="button" class="btn btn-success btn-sm" href="#" @click="codifica(false, dato)">
                                            <i class="fa fa-trash blue"></i> Codificar 
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="card-footer">
                    <pagination :data="datos" @pagination-change-page="getResults" size="small" :limit="3">
                        <span slot="prev-nav">&lt; Previo</span>
	                    <span slot="next-nav">Siguiente &gt;</span>
                    </pagination>
                    {{ datos.from}} al {{ datos.to }} de {{ datos.total }} registros
                </div>
            </div>
        </div>

        <div v-else>
            <not-found></not-found>
        </div>


        <!-- Modal -->
        <div class="modal fade" id="addNew" tabindex="-1" data-bs-backdrop="static" role="dialog" aria-labelledby="addNewTitle" aria-hidden="true">
            <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable" role="document">
                <div v-if="Object.keys(codificacion).length > 0" class="modal-content">
                    <!-- <form @submit.prevent="editmode ? updateUser() : createUser()" @keydown="form.onKeydown($event)"> -->


                        <div class="modal-header">
                            <h5 class="modal-title" v-show="!editmode">Crea codificación</h5>
                            <h5 class="modal-title" v-show="editmode">Actualiza codificación</h5>
                            <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
                        </div>

                        <div class="modal-body">

                            <div class="card">
                                <div class="card-body">
                                    <p class="card-text fw-bold">{{ preguntas[filter.pregunta-1].texto }}</p>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-body">
                                    <p class="card-text">{{ codificacion['col_' + filter.pregunta] }}</p>
                                </div>
                            </div>

                            <div class="mt-2 row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input v-model="filtro_codigos" @change="filtrarCodificacion()" type="text" class="form-control form-control-sm" id="filtro_codigos" placeholder="Buscar .">
                                    </div>
                                    <table class="table table-sm">
                                        <thead>
                                            <tr>
                                                <th style="width: 10px">código</th>
                                                <th>Texto</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="(libro_codigo, index) in libro_codigos" :key="libro_codigo.id">
                                                <td class="text-center">
                                                    <a href="#" @click="agregaCodificacion(index, libro_codigo)">
                                                        {{ libro_codigo.codigo }}
                                                    </a>
                                                </td>
                                                <td>{{ libro_codigo.descripcion }}</td>
                                                
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input v-model="filtro_codificados" type="text" class="form-control form-control-sm" id="filtro_codificados" placeholder="Buscar">
                                    </div>
                                    <table class="table table-sm">
                                        <thead>
                                            <tr>
                                                <th style="width: 10px">código</th>
                                                <th>Texto</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="(seleccion_codigo, index) in seleccion_codigos" :key="seleccion_codigo.id">
                                                <td class="text-center">
                                                    <a href="#" @click="eliminaCodificacion(index, seleccion_codigo)">
                                                        {{ seleccion_codigo.codigo }}
                                                    </a>
                                                </td>
                                                <td>{{ seleccion_codigo.descripcion }}</td>
                                                
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>       

                        <div class="modal-footer">
                            <button @click="closeModal()" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>                
                    <!-- </form> -->
                </div>
            </div>
        </div>



    </div>
</template>

<script>
    import Form from 'vform';
    import NotFound from '../NotFound.vue';

    export default {
    components: { NotFound },
        data: () => ({
            editmode: false,
            clic:0,
            datos: {},
            libro_codigos: {},
            seleccion_codigos: [],
            preguntas: {},
            estudios: {},
            codificacions: {},
            codificacion: {},
            filter: {
                'estudio' : '',
                'pregunta' : 1,
                'estado' : 1,
            },
            filtro_codigos: '',
            filtro_codificados: '',
            form: new Form({
                id: '',
                name: '',
                email: '',
                password: '',
                type: 'user',
            })
        }),
        methods: {
            getResults(page = 1) {
                this.$Progress.start();
                const link = 'api/codificacion?page=' + page + '&pregunta=' + this.filter.pregunta + '&estudio=' + this.filter.estudio + '&estado=' + this.filter.estado;
                axios.get(link).then(({ data }) => (this.datos = data.data));
                this.$Progress.finish();
            },
            async getLibroCodigo(){
                this.$Progress.start();
                const link = 'api/libro_codigos/' + this.filter.pregunta;
                await axios.get(link).then(({ data }) => (this.libro_codigos = data.data));
                this.$Progress.finish();
            },
            createCode() {
                this.form.post('api/user')
                .then((response)=>{
                    $('#addNew').modal('hide');
                    toast.fire({
                            icon: 'success',
                            title: response.data.message
                    });
                    this.$Progress.finish();
                    this.loadUsers();
                })
                .catch(()=>{
                    toast.fire({
                        icon: 'error',
                        title: 'Some error occured! Please try again'
                    });
                })


            },
            loadPreguntasCodificar(){
                this.$Progress.start();
                if(this.$gate.isAdmin){
                    axios.get('api/pregunta_codificar').then(({data}) => (this.preguntas = data.data));
                }
                this.$Progress.finish();
            },
            loadEstudioCodificar(){
                this.$Progress.start();
                if(this.$gate.isAdmin){
                    axios.get('api/estudios_codificar').then(({data}) => (this.estudios = data.data));
                }
                this.$Progress.finish();
            },
            loadCodificacions(){
                this.$Progress.start();
                if(this.$gate.isAdmin){
                    axios.get('api/codificacion').then(({data}) => (this.codificacions = data.data));
                }
                this.$Progress.finish();
            },
            codifica(editmode, dato){
                this.clic = 1;
                this.codificacion = dato;
                this.editmode = editmode;

                const codificada_id = dato.respuesta_abierta_codificadas.map(function(respuesta){
                    return respuesta.libro_codigo_id;
                })

                this.seleccion_codigos = this.libro_codigos.filter(value => {
                    return codificada_id.includes(value.codigo);
                });

                this.libro_codigos = this.libro_codigos.filter(value => {
                    return ! codificada_id.includes(value.codigo);
                });


                

                // const  {libro_codigo_id}  = dato.respuesta_abierta_codificadas[0];
                // console.log(this.codificacion);
                
                $('#addNew').modal('show');

            },
            closeModal(){
                this.editmode = false;
                $('#addNew').modal('show');
                this.seleccion_codigos = [];
                this.getResults();
                this.getLibroCodigo();
            },
            agregaCodificacion(index, libro_pregunta){
                // console.log(index)
                this.seleccion_codigos.push(libro_pregunta);
                this.libro_codigos.splice(index, 1);


                axios.post("api/respuesta_abierta_codificada_create", {
                    'respuestas_abierta_id' : this.codificacion.id,
                    'pregunta_codificar_id' : libro_pregunta.pregunta_codificar_id,
                    'libro_codigo_id' : libro_pregunta.codigo
                })
                .then((response)=>{
                    toast.fire({
                        icon: 'success',
                        title: response.data.message
                    });
                })
                .catch(()=>{
                    toast.fire({
                        icon: 'error',
                        title: 'Error en la codificación'
                    });
                });

            },

            eliminaCodificacion(index, libro_pregunta){
                // console.log(index)
                

                axios.post("api/respuesta_abierta_codificada_destroy", {
                    'respuestas_abierta_id' : this.codificacion.id,
                    'pregunta_codificar_id' : libro_pregunta.pregunta_codificar_id,
                    'libro_codigo_id' : libro_pregunta.codigo
                })
                .then((response)=>{
                    toast.fire({
                        icon: 'success',
                        title: response.data.message
                    });
                    this.libro_codigos.push(libro_pregunta);
                    this.seleccion_codigos.splice(index, 1);
                })
                .catch(()=>{
                    toast.fire({
                        icon: 'error',
                        title: 'Error en la codificación'
                    });
                });

            },


            async filtrarCodificacion(){
                await this.getLibroCodigo();
                if (this.filtro_codigos.length > 0){
                    this.libro_codigos = this.libro_codigos.filter(libro_codigo => {
                        return libro_codigo.descripcion.includes(this.filtro_codigos);
                    })
                }
                
            }
            // filtrarCodificacion : function(){
            //     if (this.filtro_codigos.length > 0){
            //         this.libro_codigos.filter(libro_codigo => {
            //             return libro_codigo.descripcion.includes(this.filtro_codigos) !== -1;
            //         })
            //     }
            // }
            
            
        },
        created () {
            this.loadPreguntasCodificar();
            this.loadEstudioCodificar();
            this.getResults();
            this.getLibroCodigo();
            
        },

        watch: {
            filter: {
                handler: function(val, oldVal) {
                    this.getResults();
                    // this.getLibroCodigo();
                },
                deep: true
            }
        }
        
    }
</script>

<style lang="scss" scoped>

</style>