<template>
    <div>

        <filtro-completo @aplicaFiltro="aplicaFiltro" :muestraFiltro=muestraFiltro></filtro-completo>

        <div class="card px-3 py-2 text-secondary">
            Pinche en la columna de cada dimensión para ver evolutivo
        </div>

        <div class="card mb-2 mt-5">
            <BarStackChartClick
                :chart-data="datosGrafico()" 
                :height="400" 
                @on-receive="update"
                :options="optionStack()">
            </BarStackChartClick>
        </div>


        <div v-if="selectedData != {} && selectedData.index >= 0">
            <h4>Evolutivo  </h4>
            
            <bar-stack-chart 
                :chart-data="datosGraficoAtributo()" 
                :height="400"
                :options="optionStack()">
                
            </bar-stack-chart>
        </div>

    </div>
</template>

<script>
    // import BarStackChart from '../BarStackChart.js'
    import BarStackChartClick from '../BarStackChartClick.js'
    import BarStackChart from '../BarStackChartClick.js'
    export default {
        components: {
            BarStackChartClick, BarStackChart
        },
        data() {
            return {
                datacollection: null,
                selectedData: {},
                options: null,
                datos_graficos: null,
                dashboard: {},
                promotor: [],
                detractor: [],
                neto: [],
                neutro: [],
                labels: [],

                promotorAtributo: [],
                detractorAtributo: [],
                netoAtributo: [],
                neutroAtributo: [],
                labelsAtributo: [],

                muestraFiltro : {
                    viaje : false,
                    familia : true,
                    tipo : true,
                    funeraria : true,
                    necesidad : true,
                    parque : true,
                    fecha_ini : true,
                    fecha_fin : true,
                    origen_venta : true,
                    uso_producto : true,
                }

            }
        },

        methods: {
            update (data) {
                // console.log(data);
                this.selectedData = data;
                this.recuperaAtributos();
            },
            aplicaFiltro(filtro) {
                // console.log("procesa filtros");
                this.selectedData.index = {};
                this.filtro = filtro;
                this. recuperaDashboard();
            },
            async recuperaDashboard(){
                await axios.post("api/satisfaccion_global", {
                    'cod_seccion' : this.codSeccion,
                    'filtro' : this.filtro
                })
                .then((data)=>{
                    // this.datos = data.data.data;
                    // console.log(data);
                    this.promotor = data.data.data.promotor;
                    this.detractor = data.data.data.detractor;
                    this.neto = data.data.data.neto;
                    this.neutro = data.data.data.neutro;
                    this.labels = data.data.data.labels;
                })
                // ({ data }) => (this.datos = data.data)
            },
            
            optionStack() {
                let opt = {
                    responsive: true, 
                    maintainAspectRation: true,
                    scales: {
                        xAxes: [{
                            stacked: true,
                        }],
                        yAxes: [{
                            stacked: true,
                            ticks: {
                                
                                max: 120 // maximum value
                            }
                        }]
                    },
                    hover: {
                        animationDuration: 0
                    },
                    animation: {
                        //duration : 1,
                        onComplete : function() {
                            var chartInstance = this.chart,
                            ctx = chartInstance.ctx;

                            ctx.font = Chart.helpers.fontString(
                                Chart.defaults.global.defaultFontSize, 
                                Chart.defaults.global.defaultFontStyle, 
                                Chart.defaults.global.defaultFontFamily
                            );
                            ctx.textAlign = 'center';
                            ctx.textBaseline = 'bottom';
                            ctx.fillStyle = "#000";

                            this.data.datasets.forEach(function(dataset, i) {
                                var meta = chartInstance.controller.getDatasetMeta(i);
                                meta.data.forEach(function(bar, index) {
                                    var data = dataset.data[index];
                                    if (i == 0){
                                        ctx.pointStyle = 'triangle';
                                        ctx.fillStyle = "#000";
                                        // ctx.font = '15px Arial';
                                        ctx.fillText(data, bar._model.x - 27, bar._model.y + 8);
                                    }
                                    else if (i == 1){
                                        ctx.fillStyle = "#000";
                                        ctx.fillText(data, bar._model.x, bar._model.y + 20);
                                        // ctx.font = '12px Arial';
                                    }
                                    else if (i == 2){
                                        ctx.fillStyle = "#000";
                                        ctx.fillText(data, bar._model.x, bar._model.y + 15);
                                        // ctx.font = '12px Arial';
                                    }
                                    else if (i == 3){
                                        ctx.fillStyle = "#000";
                                        ctx.fillText(data, bar._model.x, bar._model.y - 10);
                                        // ctx.font = '12px Arial';
                                    }
                                    else {
                                        // ctx.style.backgroundColor = '#FFF';
                                        ctx.pointStyle = 'triangle';
                                        ctx.fillStyle = "#000";
                                        // ctx.font = '15px Arial';
                                        ctx.fillText(data, bar._model.x - 27, bar._model.y + 8);
                                    }
                                    
                                });
                            });
                        }
                    },
                }
                return opt;
            },

            datosGrafico(){
                let promotor = null;
                let detractor = null;
                let neto = null;
                let neutro = null;
                let label = null;

                neto = this.neto;
                neutro = this.neutro;
                promotor = this.promotor;
                detractor = this.detractor;
                label = this.labels;

                let xdata = {
                    labels: label,
                    datasets: [
                        {
                            label: "Satisfacción Neta",
                            type: "line",
                            tension: 0.0,
                            borderColor: 'rgba(0, 0, 0, 0)',
                            data: neto,
                            fill: false,
                            pointRadius: 5,
                            pointBackgroundColor: 'rgba(255, 87, 51, 0.5)'
                        }, {
                            label: "Insatisfechos",
                            type: "bar",
                            backgroundColor: "#c00000",
                            backgroundColorHover: "#3e95cd",
                            data: detractor,
                        }, {
                            label: "% Neutro",
                            type: "bar",
                            backgroundColor: "#D1D1CF",
                            backgroundColorHover: "#D1D1CF",
                            data: neutro,
                        }, {
                            label: "Satisfechos",
                            type: "bar",
                            backgroundColor: "#3daadf",
                            backgroundColorHover: "#3e95cd",
                            data: promotor,
                        }
                    ]
                }
                return xdata;

            },

            

            datosGraficoAtributo(){
                // let promotor = null;
                // let detractor = null;
                // let neto = null;
                // let neutro = null;
                // let label = null;

                const neto = this.netoAtributo;
                const neutro = this.neutroAtributo;
                const promotor = this.promotorAtributo;
                const detractor = this.detractorAtributo;
                const label = this.labelsAtributo;

                let xdata = {
                    labels: label,
                    datasets: [
                        {
                            label: "Satisfacción Neta",
                            type: "line",
                            tension: 0.0,
                            borderColor: 'rgba(255, 87, 51, 0.5)',
                            data: neto,
                            fill: false,
                            pointRadius: 5,
                            // pointBorderColor: 'rgb(0, 0, 0)',
                            pointBackgroundColor: 'rgba(255, 87, 51, 0.5)',
                        }, {
                            label: "Insatisfechos",
                            type: "bar",
                            backgroundColor: "#c00000",
                            backgroundColorHover: "#3e95cd",
                            data: detractor,
                        }, {
                                label: "% Neutro",
                                type: "bar",
                                backgroundColor: "#D1D1CF",
                                backgroundColorHover: "#D1D1CF",
                                data: neutro,
                            }, {
                            label: "Satisfechos",
                            type: "bar",
                            backgroundColor: "#3daadf",
                            backgroundColorHover: "#3e95cd",
                            data: promotor,
                        }
                    ]
                }
                return xdata;

            },

            async recuperaAtributos(){
                console.log('recuperaAtributos');
                const link = "api/satisfaccion_global_evolutivo";
                await axios.post(link, {
                    'campo' : this.selectedData.index,
                    'filtro' : this.filtro,
                })
                .then((data)=>{
                    // this.datos = data.data.data;
                    // console.log(data.data.data);
                    this.promotorAtributo = data.data.data.promotor;
                    this.detractorAtributo = data.data.data.detractor;
                    this.netoAtributo = data.data.data.neto;
                    this.neutroAtributo = data.data.data.neutro;
                    this.labelsAtributo = data.data.data.labels;
                    this.datosGraficoAtributo();
                })
            },
        },

        created () {
            this.recuperaDashboard();
        },

        // watch: {
        //     selectedData: {
        //         handler: function(val, oldVal) {
        //             //   console.log("muestra gráfico")
        //             this.recuperaAtributos(); // call it in the context of your component object
        //         },
        //         deep: true
        //     }
        // }

        
        
    }
</script>

<style lang="scss" scoped>

</style>